<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
<script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
            
            <li><%=title%></li>
          </ul>
      </div>

      <form id="account_setting-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= apiurl %>account_setting/add">
				<fieldset>
				<div class="content_body panel_body">

            <div class="panel_title">
              <h3><%=title%> Info</h3>
            </div>
                
            <div class="clearfix"></div>
            
                  <div class="tab-content">

                    <!--category content start-->
                    <div id="category" class="tab-pane fade in active show">

                      <div class="row edit_box">

                        <div class="col-sm-6"> 
                          <div class="animate_form">
                           <select name="store_id" class="form-control">
                            <option value="">Select</option>
                               <% arrStore.forEach(function(val) { %>
                               <option value="<%= val.id %>" <% if(val.id==arrData.store_id){%>selected="selected" <%} %>><%= val.store_id %></option>
                                 <%  }) %>
                           </select>
                           <span>Store ID<span>
                           </div> 
                         </div>
                           
                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="account_name" class="form-control" name="account_name" type="text" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" required="required" value="<%= arrData ? arrData.account_name : '' %>">
                              <span>Account Name<span>*</span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>
                        
                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="site_short_name" class="form-control" name="site_short_name" type="text" required="required" value="<%= arrData ? arrData.site_short_name : '' %>">
                              <span>Site Short Name<span>*</span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>
                        
                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="country" class="form-control" name="country" type="text" required="required" value="<%= arrData ? arrData.country : '' %>">
                              <span>Country<span>*</span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>
                        
                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="state" class="form-control" name="state" type="text"  value="<%= arrData ? arrData.state : '' %>">
                              <span>State<span>*</span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>
                        
                        <div class="col-sm-6"> 
                          <div class="animate_form">
                           <select name="city" class="form-control">
                            <option value="">Select</option>
                               <% arrCity.forEach(function(val) { %>
                               <option value="<%= val.id %>" <% if(val.id==arrcit.city){%>selected="selected" <%} %>><%= val.name %></option>
                                 <%  }) %>
                           </select>
                           <span>City<span>
                           </div> 
                         </div>
                        
                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="street" class="form-control" name="street" type="text"  value="<%= arrData ? arrData.street : '' %>">  
                              <span>Street<span></span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>
                        
                        
                        
                        <div class="col-sm-6"> 
                          <div class="animate_form">
                           <select name="zipcode" class="form-control">
                            <option value="">Select</option>
                               <% arrZip.forEach(function(val) { %>
                               <option value="<%= val.id %>" <% if(val.id==arrpin.zip){%>selected="selected" <%} %>><%= val.zipcode %></option>
                                 <%  }) %>
                           </select>
                           <span>Zip Code<span>
                           </div> 
                         </div>
                        
                       
                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="mailing_address" class="form-control" name="mailing_address" type="text"  value="<%= arrData ? arrData.mailing_address : '' %>">
                              <span>Mailing Address<span></span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>
                        
                        

                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="fax" class="form-control" name="fax" type="text"  value="<%= arrData ? arrData.fax : '' %>">
                              <span>Fax<span></span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>

                        <div class="col-sm-6"> 
                            <div class="animate_form field">
                                <input id="website" class="form-control" name="website" type="text" required="required" value="<%= arrData ? arrData.website : '' %>">
                                <span>Website<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                          </div>

                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="email" class="form-control" name="email" type="email" onkeyup="this.value=this.value.replace(/[ ]/g,'');"  required="required" value="<%= arrData ? arrData.email : '' %>">
                              <span>Email<span>*</span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>

                        <div class="col-sm-6"> 
                          <div class="animate_form field">
                              <input id="mobile" class="form-control" name="mobile" type="text" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)"  required="required" value="<%= arrData ? arrData.mobile : '' %>">
                              <span>Mobile<span>*</span></span>
                            <div class="alert_msg"></div>
                          </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="animate_form field">
                                <select name="status" class="form-control">
                                  <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                                  <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                                  <!-- <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option> -->
                                </select>
                                <span>Status</span>
                            </div>
                        </div>  
                   
                      </div>
                     
                  
                      <div class="panel_title">
                        <h3>Account Logo</h3>
                    </div>
                    <div class="imageupload">
                        <div class="file-tab">
                            <div class="btn btn-default btn-file">
                                  <i class="fa fa-upload" aria-hidden="true"></i>
                                  <span>Browse</span>
                                  <!-- The file is stored here. -->
                                  <!-- <input type="file" name="image-file"> -->
                                  <input type="file" id="image" name="image"  value="<%= arrData ? arrData.image : '' %>"  class="file js-loadfile" onchange="PreviewImage();" accept="image/*" data-type='image' />
                                  <input id="uploadHiddenCropImage" name="uploadHiddenCropImage" value="" type="hidden">
                            </div>
                              <!-- <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> Remove</button> -->
                          </div>
                          <div class="row">
                            <div id="cropperImageContainer" class="col-md-8">
                              <img id="cropper" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%=baseurl%>superpos/myimages/<%= arrData.image %>"<% } }else{ %> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% } %> alt="" style="display:none;">
                            </div>
                            <div class="imgpreview col-md-4">
                              <img id="imagePreview" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%=baseurl%>superpos/myimages/<%= arrData.image %>"<% } }else{ %> src=""<% } %>  />
                              <input name="update_image" value="<%= arrData ? arrData.image : '' %>" type="hidden">
                            </div> 
                        </div>
                      </div>
        
                        
                </div>
                   
          </div>
                <div class="btn_right mb-4">
                  <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
                  <button id="send" type="submit" class="submit_btn">Submit</button>
                </div>
							</fieldset> 
							</form>

        </div>
      </div>
</div>


<script src="<%= adminbaseurl %>build/js/croppr.js"></script>

<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>
<script src="<%= adminbaseurl %>validator-master/multifield.js"></script>
<script src="<%= adminbaseurl %>validator-master/validator.js"></script>

<script type="text/javascript">
var validator = new FormValidator({"events" : ['blur', 'input', 'change']}, document.forms[0]);
document.forms[0].onsubmit = function(e){
			var submit = true,
				validatorResult = validator.checkAll(this);

			console.log(validatorResult);
			return !!validatorResult.valid;
		};
  function PreviewImage() {
		var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("image").files[0]);
		oFReader.onload = function (oFREvent) {
			document.getElementById("imagePreview").src = oFREvent.target.result;
		};
	};

      var imageData=null;
			var fileParts = '';
			var image_target = $('#cropper').get(0);
			var after_cropped_target = $('#imagePreview').get(0);
			var cropImageFile = '';
			
			$('.js-loadfile').change(function(evt) {
				var files = evt.target.files; // FileList object
				var reader = new FileReader();

				reader.onload = function(e) {
				  imageData=reader.result;
				  loadData();
				}
				fileParts = files[0].name.split('.');
				reader.readAsDataURL(files[0]);
			});
			
			dataURLtoFile = function(dataurl, filename) {
				var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
					bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
				while(n--){
					u8arr[n] = bstr.charCodeAt(n);
				}
				return new File([u8arr], filename, {type:mime});
			}; 
			
			loadData = function() {
				//set the image target
				document.getElementById('cropperImageContainer').innerHTML = '<img id="cropper" src="" alt="" style="display:none;">';
				
				image_target = $('#cropper').get(0);
				image_target.src=imageData;
				after_cropped_target.src=image_target.src;
				var croppr = new Croppr('#cropper', {
					aspectRatio: 1,
					minSize: [88, 87, 'px'],
					onInitialize: (instance) => { 
						console.log(instance); 
						var left = 129,
						top =  0,
						width = 768,
						height = 768;
						cropImage(left,top,width,height);
					},
					onCropStart: (data) => { 
						//console.log('start', data);
						//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
						
					},
					onCropEnd: (data) => {
						console.log(data);
						var left = data.x,
						top =  data.y,
						width = data.width,
						height = data.height;
						cropImage(left,top,width,height);
					},
					onCropMove: (data) => { 
						//console.log('move', data); 
						//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
					}
				});
				
				//croppr.destroy();
			};
			
			cropImage = function(left,top,width,height){
				//alert("Test");
				var image_target = $('.croppr-image').get(0);
				var after_cropped_target = $('#imagePreview').get(0);
				var crop_canvas;
					
				crop_canvas = document.createElement('canvas');
				crop_canvas.width = width;
				crop_canvas.height = height;
				
				crop_canvas.getContext('2d').drawImage(image_target, left, top, width, height, 0, 0, width, height);
				var dataURL=crop_canvas.toDataURL("image/png");
				after_cropped_target.src=dataURL;
				var imageCropped64Image = dataURL;
				
				var d = new Date();
				var n = d.getTime();
				
				var basefile = fileParts[0]+ '_' + n;
				var ext = fileParts[1];
				
				//var ext = imageCropped64Image.split(';')[0].match(/jpeg|png|gif/)[0];
				var mime = imageCropped64Image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
				var mimeType = '';
				if (mime && mime.length) {
				mimeType = mime[1];
				}
				
				document.getElementById('uploadHiddenCropImage').value = basefile+'.'+ext;
				cropImageFile = this.dataURLtoFile(imageCropped64Image, basefile+'.'+ext)
			};
			
			$('#account_setting-info').on('submit', function(e){
        console.log("11111111111")
        // e.preventDefault();
				var formData = new FormData();
				formData.append('image', cropImageFile);

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function(result) {
					if (this.readyState == 4 && this.status == 200) {
            console.log("llllllfdjjjssfs")
						document.getElementById('cropperImageContainer').innerHTML = '';
						//window.scrollTo(0, 0);
				   }
				};
				// Add any event handlers here...
				xhr.open('POST', '/api/v1/account_setting/fileupload', true);
				xhr.send(formData);
			});
////////////////////////////////code end////////////////////////////////
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>

<script type="text/javascript">
  function blockChar(e){
      var k;
      document.all ? k = e.keyCode : k = e.which;
      return (k >= 48 && k <= 57);
      }
  </script>

<script>
   $("#checkAll").click(function () {
     $('input:checkbox').not(this).prop('checked', this.checked);
 });
</script>