<%- include ../partials/header.html%>
<%- include ../partials/sidebar.html %>       


<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
<script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>

<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>customer">Customer</a></li>
            <li><%=title%></li>
          </ul>
      </div>


      <form id="customer-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= apiurl %>customer/add">
          <div class="content_body panel_body">

            <div class="panel_title">
              <h3>Customer Info</h3>
            </div>
                
            <div class="clearfix"></div>
            

                  <div class="tab-content">

                    <!--category content start-->
                    <div id="customer" class="tab-pane fade in active show">

                          <div class="row edit_box">
                           
                            <% if (arrData && arrData.first_name !='' && arrData.first_name !=null) {%>
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="first_name" class="form-control" name="first_name" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');"
                                    type="text" required="required" value="<%= arrData ? arrData.first_name : '' %>">
                                    <span>First Name<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div>
                            <% }else{ %> 
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="first_name" class="form-control" readonly disabled name="first_name" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');"
                                    type="text" value="<%= arrData ? arrData.first_name : '' %>">
                                    <span>First Name<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div>
                            <% } %> 

                            <% if (arrData && arrData.last_name !='' && arrData.last_name !=null) {%>
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="last_name" class="form-control" name="last_name" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');"
                                    type="text" required="required" value="<%= arrData ? arrData.last_name : '' %>">
                                    <span>Last Name<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div>
                            <% }else{ %>
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="last_name" class="form-control" readonly disabled name="last_name" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');"
                                    type="text" value="<%= arrData ? arrData.last_name : '' %>">
                                    <span>Last Name<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div> 
                            <% } %>
                            
                            <% if (arrData && arrData.email !='' && arrData.email !=null) {%>
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="email" class="form-control" readonly disabled name="email" type="email" required="required" value="<%= arrData ? arrData.email : '' %>">
                                    <span>Email<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div>
                            <% }else{ %>
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="email" class="form-control" readonly disabled name="email" type="email" value="<%= arrData ? arrData.email : '' %>">
                                    <span>Email<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div>
                            <% } %>
                            
                            <% if (arrData && arrData.phone !='' && arrData.phone !=null) {%>
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="phone" class="form-control" readonly disabled name="phone" placeholder="10 digit mobile number" type="text" required="required" value="<%= arrData ? arrData.phone : '' %>" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                    <span>Phone<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div>
                            <% }else{ %>
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="phone" class="form-control" readonly disabled name="phone" placeholder="10 digit mobile number" type="text" value="<%= arrData ? arrData.phone : '' %>" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                    <span>Phone<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div>
                            <% } %>
														
                            <% if (!arrData) {%>
                              <div class="col-sm-6"> 
                                <div class="animate_form field">
                                  <input id="password" type="password" name="password" maxlength="10" onblur="validatePassword();" onkeyup="this.value=this.value.replace(/[ ]/g,'');" placeholder="Password must be 6-10 digits"   class="form-control" required="required" value="<%= arrData ? arrData.password : '' %>">
                                  <span>Password<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div> 
                              <% } %> 
														
							             
														
                            <div class="col-sm-6" style="display: none">
                              <div class="animate_form field">
                                <select name="gender" class="form-control">
                                  <option <% if(arrData.gender=='male'){ %>selected="selected" <% }%> value="male">Male</option>
                                  <option <% if(arrData.gender=='female'){ %>selected="selected" <% }%> value="female">Female</option>
                                </select>
                                <span>Gender<span>*</span></span>
                              </div>
                            </div>
														
							              <!-- <div class="col-sm-6"> 
                              <div class="animate_form field">
                                  <input id="group_id" class="form-control" name="group_id" type="number" required="required" value="<%= arrData ? arrData.group_id : '' %>">
                                  <span>Group id<span>*</span></span>
                                <div class="alert_msg"></div>
                              </div>
                            </div> -->

                            <div class="col-sm-6" style="display: none">
                                <div class="animate_form field">
                                    <label style="color:#ffc000; font-weight: 400; ">Date of Birth</label>
                                <input id="dob" class="form-control" name="dob" type="date"  value="<%= arrData ? arrData.dob : '' %>">
                                    <!--<span>Date of Birth</span>-->
                                </div>
                            </div>  
                            <div class="col-sm-6" style="display: none">
                                <div class="animate_form field">
                                    <label style="color:#ffc000; font-weight: 400;">Date of Anniversary</label>
                                    <input id="doa" class="form-control" name="doa" type="date"  value="<%= arrData ? arrData.doa : '' %>">  
                                    <!--<span>Date of Anniversary</span>-->
                                </div>
                            </div>  
                            
                            <div class="col-sm-6" style="display: none">
                              <div class="animate_form field">
                                <select name="group_id" class="form-control" required="required">
                                  <option value="">--Select Group--</option>
                                  <% 
                                  arrCustomer_group.forEach(function(group) { %>
                                  <option value="<%= group.id %>" <% if(group.id==arrData.group_id){%>selected="selected" <%} %>><%= group.label %></option>
                                  <%  }) %>
                                </select>
                                <span>Group<span>*</span></span>
                              </div>
                            </div>
														
														<!-- <div class="col-sm-6"> 
                              <div class="animate_form field">
                                  <input id="device" class="form-control" name="device" type="text"  value="<%= arrData ? arrData.device : '' %>">
                                  <span>Device<span></span></span>
                                <div class="alert_msg"></div>
                              </div>
														</div>
														
                            <div class="col-sm-6">
                              <div class="animate_form field">
                                <select name="citi" class="form-control">
                                  <option value="">--Select City--</option>
                                  <% 
                                  arrCiti.forEach(function(val) { %>
                                  <option value="<%= val.name %>" <% if(val.name==arrData.city){%>selected="selected" <%} %>><%= val.name %></option>
                                  <%  }) %>
                                </select>
                                <span>City<span></span></span>
                              </div>
                            </div>

                            <div class="col-sm-6"> 
                              <div class="animate_form field">
                                  <input id="last_visited" class="form-control" name="last_visited" type="text"  value="<%= arrData ? arrData.last_visited : '' %>">
                                  <span>Last Visited<span></span></span>
                                <div class="alert_msg"></div>
                              </div>
                            </div>

                            <div class="col-sm-6"> 
                                <div class="animate_form field">
                                    <input id="total_purchase" class="form-control" name="total_purchase" type="text" required="required" value="<%= arrData ? arrData.total_purchase : '' %>">
                                    <span>Total Purchase<span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                              </div>

                            <div class="col-sm-6"> 
                              <div class="animate_form field">
                                  <input id="order_count" class="form-control" name="order_count" type="text" required="required" value="<%= arrData ? arrData.order_count : '' %>">
                                  <span>Order Count<span>*</span></span>
                                <div class="alert_msg"></div>
                              </div>
                            </div> -->

                            <div class="col-sm-6">
                                <div class="animate_form field">
                                    <select name="status" class="form-control">
                                      <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                                      <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                                      <!-- <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option> -->
                                    </select>
                                    <span>Status</span>
                                </div>
                            </div>  
                       
                          
                         
                     
                     
                        </div>


                          
                          <div class="panel_title" style="display: none">
                              <h3>Customer Image</h3>
                          </div>
                          <div class="animate_form field" style="display: none">
                              <div class="imageupload">                
                                <div class="file-tab">
                                  <div class="btn btn-default btn-file">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <span>Browse</span>
                                    <!-- The file is stored here. -->
                                    <!-- <input type="file" name="image-file"> -->
                                    <input type="file" <% if(arrData && arrData.image !='') { }else{%> required="required"<% } %> id="image" name="image" value="<%= arrData ? arrData.image : '' %>"  class="file js-loadfile" onchange="PreviewImage();" accept="image/*" data-type='image' />
                                    <input id="uploadHiddenCropImage" name="uploadHiddenCropImage" value="" type="hidden">
                                  </div>                
                                  <!-- <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> Remove</button> -->
                                </div>              
                                <div class="row">
                                  <div id="cropperImageContainer" class="col-md-8">
                                    <img id="cropper" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% } %> alt="" style="display:none;">
                                  </div>
                                  <div class="imgpreview col-md-4">
                                    <img id="imagePreview" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src=""<% } %>  />
                                    <input name="update_image" value="<%= arrData ? arrData.image : '' %>" type="hidden">
                                  </div> 
                                </div>
                              </div>
                            </div>  
							
							
                            
                    </div>
                    <!--category content end-->
                    
          </div>

          <!-- customer address 03.01.2018 start -->
          <div class="content_body panel_body">

              <input type="hidden" id="isprimeaddress" name="isprimeaddress" value="">

            <div class="panel_title">
                <h3>Customer Address</h3>
                <!-- <button class="clone_trigger panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Address</button> -->
            </div>
                
      
      <% if(arrAddress!='') {
        arrAddress.forEach(function(val) { %>
          
            <div class="row clone" style="margin-bottom: 15px;">

              <% if (val && val.first_name !='' && val.first_name !=null) {%>
              <div class="col-sm-4"> 
                <div class="animate_form field">
                  <input id="city" class="form-control" required="required" name="address_first_name" type="text" value="<%=  val.first_name  %>">
                  <span>First Name<span>*</span></span>
                </div>
              </div>
              <% }else{ %>
                <div class="col-sm-4"> 
                  <div class="animate_form field">
                    <input id="city" class="form-control"  readonly disabled name="address_first_name" type="text" value="<%=  val.first_name  %>">
                    <span>First Name<span>*</span></span>
                  </div>
                </div>
              <% } %>

              <% if (val && val.last_name !='' && val.last_name !=null) {%>
              <div class="col-sm-4"> 
                <div class="animate_form field">
                  <input id="city" class="form-control" required="required" name="address_last_name" type="text" value="<%=  val.last_name  %>">
                  <span>Last Name<span>*</span></span>
                </div>
              </div>
              <% }else{ %>
                <div class="col-sm-4"> 
                  <div class="animate_form field">
                    <input id="city" class="form-control" readonly disabled name="address_last_name" type="text" value="<%=  val.last_name  %>">
                    <span>Last Name<span>*</span></span>
                  </div>
                </div>
              <% } %>

              <% if (val && val.mobile !='' && val.mobile !=null) {%>
              <div class="col-sm-4">
                <div class="animate_form field">
                 <input type="text" name="address_mobile_no" readonly disabled placeholder="10 digit mobile number" value="<%= val.mobile %>" class="form-control" required="required" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                 <span>Mobile Number<span>*</span></span>
                </div> 
              </div>
              <% }else{ %>
                <div class="col-sm-4">
                  <div class="animate_form field">
                    <input type="text" readonly disabled name="address_mobile_no" placeholder="10 digit mobile number" value="<%= val.mobile %>" class="form-control" required="required" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                    <span>Mobile Number<span>*</span></span>
                  </div> 
                </div>
              <% } %>

              <% if (val && val.address !='' && val.address !=null) {%>
              <div class="col-sm-4"> 
                <div class="animate_form field">
                  <span>Address<span>*</span></span>
                  <textarea rows="4" type="text" id="customer_address" name="address" required="required"  class="form-control"><%= val ? val.address : '' %></textarea>
                  
                  <div class="alert_msg"></div>
                </div>
              </div>
              <% }else{ %>
                <div class="col-sm-4"> 
                    <div class="animate_form field">
                      <span>Address<span>*</span></span>
                      <textarea rows="4" type="text" id="customer_address" readonly disabled name="address" required="required"  class="form-control"><%= val ? val.address : '' %></textarea>
                      
                      <div class="alert_msg"></div>
                    </div>
                  </div>
              <% } %>

              <% if (val && val.city !='' && val.city !=null) {%>
                <div class="col-sm-4"> 
                  <div class="animate_form field">
                    <input id="city" class="form-control"  name="city" type="text" value="<%=  val.city  %>">
                    <span>City</span>
                  </div>
                </div>
              <% }else{ %>
                <div class="col-sm-4"> 
                    <div class="animate_form field">
                      <input id="city" class="form-control" readonly disabled name="city" type="text" value="<%=  val.city  %>">
                      <span>City</span>
                    </div>
                  </div>
              <% } %>

              <% if (val && val.state !='' && val.state !=null) {%>
                <div class="col-sm-4"> 
                  <div class="animate_form field">
                    <input id="state" class="form-control"  name="state" type="text"  value="<%= val.state %>">
                    <span>State</span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
              <% }else{ %>
                <div class="col-sm-4"> 
                  <div class="animate_form field">
                    <input id="state" class="form-control" readonly disabled name="state" type="text"  value="<%= val.state %>">
                    <span>State</span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
              <% } %>

              <% if (val && val.pin !='' && val.pin !=null) {%>
                <div class="col-sm-4"> 
                  <div class="animate_form field">
                    <input id="pin" class="form-control" required="required" type="text"  name="pin"  value="<%= val.pin %>">
                    <span>Pin<span>*</span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
              <% }else{ %>
                <div class="col-sm-4"> 
                  <div class="animate_form field">
                    <input id="pin" class="form-control" readonly disabled required="required" type="text"  name="pin"  value="<%= val.pin %>">
                    <span>Pin<span>*</span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
              <% } %>

              <% if (val && val.country !='' && val.country !=null) {%>
              <div class="col-sm-4"> 
                <!-- <div class="animate_form ">
                  <input id="country" class="form-control"  name="country" type="text" value="<%= val.country %>">
                  <span>Country</span>
                </div> -->
                <div class="animate_form">
                  <select name="country" class="form-control">
                      <option value="">--Select Country--</option>
                    <option <% if(val.country=='India'){ %>selected="selected" <% }%> value="India">India</option>
                  </select>
                  <span>Country</span>
                </div>
              </div>
              <% }else{ %>
                <div class="col-sm-4"> 
                  <div class="animate_form">
                    <select name="country" class="form-control" readonly disabled>
                        <option value="">--Select Country--</option>
                      <option <% if(val.country=='India'){ %>selected="selected" <% }%> value="India">India</option>
                    </select>
                    <span>Country</span>
                  </div>
                </div>
              <% } %>

                  <div class="col-sm-2">
                    <div class="animate_form field">
                      <span>Is Primary<span></span></span>
                      <div class="col-sm-2">
                        <input type="checkbox" readonly disabled value="<%= val.is_prime_address %>" <% if(val.is_prime_address == 1){%> checked <% } %> class="check_address" name="check_address">
                      </div>
                    </div>
                  </div>

              <!-- <div class="col-sm-3">
                <button class="remove_trigger btn btn-danger" <% if(val.is_prime_address == 1){%> style="display:none" <% } %> type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
              </div> -->
              
                <input name="updateId" type="hidden" value="">
              
          </div>
    
        
       
        <% })
      }else{ %>
        
              <div class="row clone" style="margin-bottom: 15px;">

                  <div class="col-sm-4"> 
                      <div class="animate_form field">
                        <input id="city" class="form-control" readonly disabled name="address_first_name" type="text" value="" required="required">
                        <span>First Name<span>*</span></span>
                      </div>
                    </div>
      
                    <div class="col-sm-4"> 
                      <div class="animate_form field">
                        <input id="city" class="form-control" readonly disabled name="address_last_name" type="text" value="" required="required">
                        <span>Last Name<span>*</span></span>
                      </div>
                    </div>
      
                    <div class="col-sm-4">
                      <div class="animate_form field">
                       <input type="text" placeholder="10 digit mobile number" readonly disabled name="address_mobile_no" value="" required="required" class="form-control" required="required" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                       <span>Mobile Number<span>*</span></span>
                      </div> 
                  </div>
                  
                    <div class="col-sm-4"> 
                        <div class="animate_form field">
                            <label class="control-label" for="address">Address<span>*</span> </label>
                            <textarea rows="4" type="text" id="customer_address" readonly disabled name="address" required="required" class="form-control"></textarea>
                            <div class="alert_msg"></div>
                          </div>
                      </div>
        

                    <div class="col-sm-4"> 
                      <div class="animate_form field">
                          <input id="city" class="form-control" readonly disabled name="city" type="text" value="">
                          <span>City</span>
                        <div class="alert_msg"></div>
                      </div>
                    </div>

                    <div class="col-sm-4"> 
                      <div class="animate_form field">
                        <input id="state" class="form-control" readonly disabled name="state" type="text"  value="">
                        <span>State</span>
                        <!-- <div class="alert_msg"></div> -->
                      </div>
                    </div>

                    <div class="col-sm-4"> 
                      <div class="animate_form field">
                          
                          <input id="pin" class="form-control" readonly disabled required="required" maxlength="6" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"  name="pin" type="text" value="">
                          <span>Pin<span>*</span></span>
                        <!-- <div class="alert_msg"></div> -->
                      </div>
                    </div>

                    <div class="col-sm-4"> 
                      <div class="animate_form">
                        <select name="country" readonly disabled class="form-control">
                            <option value="">--Select Country--</option>
                          <option <% if(arrData.country=='india'){ %>selected="selected" <% }%> value="india">India</option>
                        </select>
                        <span>Country</span>
                      </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="animate_form field">
                      <span>Is Primary<span></span></span>
                      <div class="col-sm-2">
                        <input type="checkbox" value="1" checked class="check_address" name="check_address">
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-3">
                      <button class="remove_trigger btn btn-danger" style="display: none" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                  </div>
                  <input name="updateId" type="hidden" value="">
              </div>
              <% } %>
        
        <div class="placer"></div>
      </div>
          <!-- customer address 03.01.2019 end -->
          
          <!-- customer phone no 04.01.2019 start -->

           <div class="content_body panel_body" style="display: none">

              <input type="hidden" id="isprimephone" name="isprimephone" value="">

            <div class="panel_title">
                <h3>Customer Contact Number</h3>
                <button class="clone_trigger_phone panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Phone</button>
            </div>
            
            <div class="row">
                <div class="col-sm-2">
                    <label class="control-label" for="customer_phone">Is Primary<span class="required"></span>
                    </label>
                </div>

              <div class="col-sm-3">
                <label class="control-label" for="customer_phone">Phone Number<span class="required"></span>
                </label>
              </div>
                
            </div>
                
      
      <% if(arrPhone_number!='') {
        arrPhone_number.forEach(function(val) { %>
    
      
          
            <div class="row clone_phone" style="margin-bottom: 15px;">

               <div class="col-sm-2">
                  <input type="checkbox" value="<%= val.is_prime_phone %>" <% if(val.is_prime_phone == 1){%> checked <% } %> class="check_phone" name="check_phone">
              </div>

              <div class="col-sm-3">
                  <input type="text" name="customer_phone_no" value="<%= val.customer_phone_no %>" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
              </div>

              <div class="col-sm-3">
                <button class="remove_trigger_phone btn btn-danger" <% if(val.is_prime_phone == 1){%> style="display:none" <% } %> type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
              </div>
              
                <input name="updateId" type="hidden" value="">
              
          </div>
    
        
       
        <% })
      }else{ %>
        <!-- <div class="field" style="color:red"> -->
              <div class="row clone_phone" style="margin-bottom: 15px;">
                   
                  <div class="col-sm-2">
                    <input type="checkbox" value="1" checked class="check_phone" name="check_phone">
                  </div>

                   <div class="col-sm-3">
                      <input name="customer_phone_no" type="text" id="customer_phone_no"  maxlength="10" minlength="10" pattern="^[6-9]\d{9}$"  value="" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                  </div>
              
                  <div class="col-sm-3">
                      <button class="remove_trigger_phone btn btn-danger" style="display: none" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                  </div>
                  <input name="updateId" type="hidden" value="">
              </div>
            <!-- </div> -->
              <% } %>
        
        <div class="placer_phone"></div>
      </div>

        <!-- customer phone no 04.01.2019 end -->

        <!-- customer email 07.01.2019 start -->
        
        <div class="content_body panel_body" style="display: none"> 

          <input type="hidden" id="isprimeemail" name="isprimeemail" value="">
         
          <div class="panel_title">
              
              <h3>Customer Email Id</h3>
              <button class="clone_trigger_email panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Email</button>
         
        </div>
          <div class="row">
              <div class="col-sm-2">
                  <label class="control-label" for="customer_email">Is Primary<span class="required"></span>
                  </label>
              </div>

            <div class="col-sm-3">
              
              <label class="control-label" for="customer_email">Email Id<span class="required"></span>
              </label>
            </div>
              
          </div>
                
      
      <% if(arrEmail_id!='') {
        arrEmail_id.forEach(function(eval) { %>  
          
        <div class="row clone_email" style="margin-bottom: 15px;">

          <div class="col-sm-2">
            <input type="checkbox" value="<%= eval.is_prime_email %>" <% if(eval.is_prime_email == 1){%> checked <% } %> class="check_email"  name="check_email">
          </div>

          <div class="col-sm-3">
              <input type="text"  name="customer_email_id" value="<%= eval.customer_email_id %>" class="form-control">
          </div>

          <div class="col-sm-3">
            <button class="remove_trigger_email btn btn-danger" <% if(eval.is_prime_email == 1){%> style="display:none" <% } %> type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
          </div>              
          <input name="updateId" type="hidden" value="">              
        </div>       
      <% })
      }else{ %>   
        <!-- <div class="field" style="color:red">  -->
        <div class="row clone_email" style="margin-bottom: 15px;">
          <div class="col-sm-2">
            <input type="checkbox" value="1" checked class="check_email" name="check_email">
          </div>
         
          <div class="col-sm-3">
            <input name="customer_email_id" type="email"   onkeyup="this.value=this.value.replace(/[ ]/g,'');"    value="" class="form-control">
          </div>
        
          <div class="col-sm-3">
            <button class="remove_trigger_email btn btn-danger" style="display: none" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
          </div>
          <input name="updateId" type="hidden" value="">
        </div>
      <!-- </div> -->
      <% } %>
        
        <div class="placer_email"></div>
    
   
  </div>
        <!-- customer email 07.01.2019 end -->

        <!-- <div class="btn_right mb-4" style="display: none"> -->
          <div class="btn_right mb-4">
          <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
          <button id="send" type="submit" class="submit_btn">Submit</button>
        </div>
      </form>

        </div>
      </div>
</div>


<script src="<%= adminbaseurl %>build/js/croppr.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>
<%- include ../jqueryDatePicker/jquerydatepicker.html %>
<!-- <script>
  // $( function() {
    $( "#dob" ).datepicker({
      // defaultDate: "+1d",
      dateFormat: 'yy-mm-dd',
      numberOfMonths: 1,
      // showButtonPanel: true,
      //minDate: 0 // minDate: '0' would work too
    });    
  // } );
  
  var currentValue = $("#dob").val();

  if(currentValue && currentValue!=''){
    $("#dob").datepicker('setDate',new Date(currentValue));
  }else{
    // alert(1)
    $("#dob").datepicker('setDate','today');
  } 

  $("#dob").keydown(function(event) {
    if(event.keyCode != 8){
      event.preventDefault();
    }
  });
  
</script>

<script>
    // $( function() {
      $( "#doa" ).datepicker({
        // defaultDate: "+1d",
        dateFormat: 'yy-mm-dd',
        numberOfMonths: 1,
        // showButtonPanel: true,
       // minDate: 0 // minDate: '0' would work too
      });    
    // } );
    
    var currentValue = $("#doa").val();
  
    if(currentValue && currentValue!=''){
      $("#doa").datepicker('setDate',new Date(currentValue));
    }else{
      // alert(1)
      $("#doa").datepicker('setDate','today');
    } 
  
    $("#doa").keydown(function(event) {
      if(event.keyCode != 8){
        event.preventDefault();
      }
    });
    
  </script> -->


<script type="text/javascript">
  function PreviewImage() {
  var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("image").files[0]);
  oFReader.onload = function (oFREvent) {
  document.getElementById("imagePreview").src = oFREvent.target.result;
  };
};

      var imageData=null;
			var fileParts = '';
			var image_target = $('#cropper').get(0);
			var after_cropped_target = $('#imagePreview').get(0);
			var cropImageFile = '';
			
			$('.js-loadfile').change(function(evt) {
				var files = evt.target.files; // FileList object
				var reader = new FileReader();

				reader.onload = function(e) {
				  imageData=reader.result;
				  loadData();
				}
				fileParts = files[0].name.split('.');
				reader.readAsDataURL(files[0]);
			});
			
			dataURLtoFile = function(dataurl, filename) {
				var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
					bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
				while(n--){
					u8arr[n] = bstr.charCodeAt(n);
				}
				return new File([u8arr], filename, {type:mime});
			}; 
			
			loadData = function() {
				//set the image target
				document.getElementById('cropperImageContainer').innerHTML = '<img id="cropper" src="" alt="" style="display:none;">';
				
				image_target = $('#cropper').get(0);
				image_target.src=imageData;
				after_cropped_target.src=image_target.src;
				var croppr = new Croppr('#cropper', {
					aspectRatio: 1,
					minSize: [88, 87, 'px'],
					onInitialize: (instance) => { 
						console.log(instance); 
						var left = 129,
						top =  0,
						width = 768,
						height = 768;
						cropImage(left,top,width,height);
					},
					onCropStart: (data) => { 
						//console.log('start', data);
						//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
						
					},
					onCropEnd: (data) => {
						console.log(data);
						var left = data.x,
						top =  data.y,
						width = data.width,
						height = data.height;
						cropImage(left,top,width,height);
					},
					onCropMove: (data) => { 
						//console.log('move', data); 
						//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
					}
				});
				
				//croppr.destroy();
			};
			
			cropImage = function(left,top,width,height){
				//alert("Test");
				var image_target = $('.croppr-image').get(0);
				var after_cropped_target = $('#imagePreview').get(0);
				var crop_canvas;
					
				crop_canvas = document.createElement('canvas');
				crop_canvas.width = width;
				crop_canvas.height = height;
				
				crop_canvas.getContext('2d').drawImage(image_target, left, top, width, height, 0, 0, width, height);
				var dataURL=crop_canvas.toDataURL("image/png");
				after_cropped_target.src=dataURL;
				var imageCropped64Image = dataURL;
				
				var d = new Date();
				var n = d.getTime();
				
				var basefile = fileParts[0]+ '_' + n;
				var ext = fileParts[1];
				
				//var ext = imageCropped64Image.split(';')[0].match(/jpeg|png|gif/)[0];
				var mime = imageCropped64Image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
				var mimeType = '';
				if (mime && mime.length) {
				mimeType = mime[1];
				}
				
				document.getElementById('uploadHiddenCropImage').value = basefile+'.'+ext;
				cropImageFile = this.dataURLtoFile(imageCropped64Image, basefile+'.'+ext)
			};
			
			$('#customer-info').on('submit', function(e){
				var form = document.getElementById('customer-info');
				var formData = new FormData();
				//var formData = new FormData(form);
				formData.append('image', cropImageFile);

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function(result) {
					if (this.readyState == 4 && this.status == 200) {
						document.getElementById('cropperImageContainer').innerHTML = '';
						//window.scrollTo(0, 0);
				   }
				};
				// Add any event handlers here...
				xhr.open('POST', '/api/v1/category/fileupload', true);
				xhr.send(formData);
			});
////////////////////////////////code end////////////////////////////////
function validate(evt){
  //alert( evt.value);
  evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>
<!-- customer address start -->
<script>
  $(document).ready(function(){
    $(".clone_trigger").click(function () {
      $('.clone').first().clone()
      .find("textarea").val("").end()
      .find("input:text").val("").end()
      .find('.bad').removeClass('bad').end()
      .find('.alert').remove().end()
      .find(".remove_trigger").show().end()
      .find("input:checkbox").prop('checked', false).end()
      .find("input:checkbox").prop('value', '0').end()
      .insertBefore(".placer");
      $('input.cl:last').val('');
      $('#message').val('').empty();
      event.preventDefault();
    });  
    
    $(document).on('click','.remove_trigger',function () {     
      if ($(".clone").length > 0) {        
        if($(".clone").length == 1){
          $(".clone:last")
          .find("input:text").val("").end()
          //$(".clone:last").hide();      
        }else{
          $(this).closest('.clone').remove();
        }                       
      }        
      event.preventDefault();
    });
  });
  </script>

<script>
    $(document).on('change','.check_address',function () { 
      // console.log(this);
      $(this).prop('value', '1');
      if($(".check_address").filter(':checked').length < 1){
        $(this).prop('checked', true);
        $(this).prop('value', '1');
      }
      $(this).parent().parent().parent().parent("div").find(".remove_trigger").hide();
      var checked_this_address = this;
      $(checked_this_address).next('.remove_trigger').hide();
      $('input[name="check_address"]').each(function(i){
        // Performs tasks to each of the links
        if($(this).not(checked_this_address)){
          $(this).not(checked_this_address).prop('checked', false); 
          $(this).not(checked_this_address).parent().parent().parent().parent("div").find(".remove_trigger").show();
          $(this).not(checked_this_address).prop('value', '0');
        }      
      });
    });

    // $("#check_address").click(function () {
    //   $('input:checkbox').not(this).prop('checked', this.checked);
    // });

    $("#send").on('click', function(e){
      // alert(1)
      var isPrimaryAddressArray=[];
      $('input[name="check_address"]').each(function(i){
        // console.log(i)
        isPrimaryAddressArray.push($(this).val());
        console.log($(this).val());
      });
      console.log(isPrimaryAddressArray);
      $('#isprimeaddress').val(isPrimaryAddressArray);
      console.log($('#isprimeaddress').val());
      //e.preventDefault();
    });
  </script>

<!-- customer address end -->

<!-- customer phone no start -->
  <script>
    $(document).ready(function(){
      $(".clone_trigger_phone").click(function () {
        $('.clone_phone').first().clone()
        .find("input:text").val("").end()
        .find('.bad').removeClass('bad').end()
        .find('.alert').remove().end()
        .find(".remove_trigger_phone").show().end()
        .find("input:checkbox").prop('checked', false).end()
        .find("input:checkbox").prop('value', '0').end()
        .insertBefore(".placer_phone");
        $('input.cl:last').val('');
        event.preventDefault();
      });  
  
      $(document).on('click','.remove_trigger_phone',function () {     
        if ($(".clone_phone").length > 0) {        
          if($(".clone_phone").length == 1){
            $(".clone_phone:last")
            .find("input:text").val("").end()
            .find("input:checkbox").prop('checked', false).end()
            //$(".clone:last").hide();      
          }else{
            $(this).closest('.clone_phone').remove();
          }             
        }        
        event.preventDefault();
      });      
    });
  </script>
  <!-- <script>
    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
    });
  </script> -->

  <script>
    $(document).on('change','.check_phone',function () { 
      // console.log(this);
      $(this).prop('value', '1');
      if($(".check_phone").filter(':checked').length < 1){
        $(this).prop('checked', true);
        $(this).prop('value', '1');
      }
      $(this).parent().parent("div").find(".remove_trigger_phone").hide();
      var checked_this_phone = this;
      $(checked_this_phone).next('.remove_trigger_phone').hide();
      $('input[name="check_phone"]').each(function(i){
        // Performs tasks to each of the links
        if($(this).not(checked_this_phone)){
          $(this).not(checked_this_phone).prop('checked', false); 
          $(this).not(checked_this_phone).parent().parent("div").find(".remove_trigger_phone").show();
          $(this).not(checked_this_phone).prop('value', '0');
        }      
      });
    });

    // $("#check_phone").click(function () {
    //   $('input:checkbox').not(this).prop('checked', this.checked);
    // });

    $("#send").on('click', function(e){
      // alert(1)
      var isPrimaryPhoneArray=[];
      $('input[name="check_phone"]').each(function(i){
        // console.log(i)
        isPrimaryPhoneArray.push($(this).val());
        console.log($(this).val());
      });
      console.log(isPrimaryPhoneArray);
      $('#isprimephone').val(isPrimaryPhoneArray);
      console.log($('#isprimephone').val());
      //e.preventDefault();
    });
  </script>

<!-- customer phone no end -->

<!-- customer email start -->
  <script>
    $(document).ready(function(){
    $(".clone_trigger_email").click(function () {
      $('.clone_email').first().clone()
      .find("input:text").val("").end()
      .find('.bad').removeClass('bad').end()
      .find('.alert').remove().end()
      .find(".remove_trigger_email").show().end()
      .find("input:checkbox").prop('checked', false).end()
      .find("input:checkbox").prop('value', '0').end()
      .insertBefore(".placer_email");
      $('input.cl:last').val('');
      event.preventDefault();
    }); 
  
    $(document).on('click','.remove_trigger_email',function () {     
      if ($(".clone_email").length > 0) {        
        if($(".clone_email").length == 1){
          $(".clone_email:last")
          .find("input:text").val("").end()
          .find("input:checkbox").prop('checked', false).end()
          //$(".clone:last").hide();      
        }else{
          $(this).closest('.clone_email').remove();
        }             
      }        
      event.preventDefault();
    });      
  });
  </script>

  <script>
    $(document).on('change','.check_email',function () { 
      // console.log(this);
      $(this).prop('value', '1');
      if($(".check_email").filter(':checked').length < 1){
        $(this).prop('checked', true);
        $(this).prop('value', '1');
      }
      $(this).parent().parent("div").find(".remove_trigger_email").hide();
      var checked_this_email = this;
      $(checked_this_email).next('.remove_trigger_email').hide();
      $('input[name="check_email"]').each(function(i){
        // Performs tasks to each of the links
        if($(this).not(checked_this_email)){
          $(this).not(checked_this_email).prop('checked', false); 
          $(this).not(checked_this_email).parent().parent("div").find(".remove_trigger_email").show();
          $(this).not(checked_this_email).prop('value', '0');
        }      
      });
    });

    // $("#check_email").click(function () {
    //   $('input:checkbox').not(this).prop('checked', this.checked);
    // });

    $("#send").on('click', function(e){
      // alert(1)
      var isPrimaryEmailArray=[];
      $('input[name="check_email"]').each(function(i){
        // console.log(i)
        isPrimaryEmailArray.push($(this).val());
        console.log($(this).val());
      });
      console.log(isPrimaryEmailArray);
      $('#isprimeemail').val(isPrimaryEmailArray);
      console.log($('#isprimeemail').val());
      //e.preventDefault();
    });
  </script>

<script type="text/javascript">
  function validatePassword()
  {
  var a = document.getElementById("password").value;
  //alert(a.length);
  if ((a.length < 6) || (a.length > 10))
  {
  alert("Your Password must be 6 to 10 Character");
  return false;
  }else{
    return true;
  }
}
  </script>
<!-- customer email end -->
<!-- customer email end -->

<script>            
    CKEDITOR.editorConfig = function (config) {
       config.language = 'es';
       config.uiColor = '#F7B42C';
       config.height = 300;
       config.toolbarCanCollapse = true;
   
   };
   CKEDITOR.replace('');
  
</script>
