<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>      
<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
<script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<div class="content_wraper">
  <div class="main_container">              
    <div class="header_wraper">
      <h2><%=title%></h2>
      <ul>
        <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
			<li><a href="<%= adminbaseurl %>product">Product</a></li>
         <li><%=title%></li>
      </ul>
    </div>

    <% if(messages!='') {%>
    <div class="succ_msg msg" id="succ_msg">    
      <i class="fa fa-check"  aria-hidden="true"></i>        
      <%=messages%>
    </div>
    <%}%>                
    <% if(errors!='') {%>
    <div class="succ_err msg" id="err_msg">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
      <%=errors%>
    </div>
    <% }%>
    
    <!--product info start-->
    <form id="product-info" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>product/add">
      <div class="content_body panel_body">
        <div class="panel_title">
          <h3>Product Info</h3>
        </div>
        <div class="clearfix"></div>
          <div class="row edit_box">
            <div class="col-sm-6" style="display: none"> 
              <div class="animate_form field">
                <input id="sku" class="form-control" name="sku" type="text" required value="<%= arrData ? arrData.sku : '' %>">
                <span>Sku<span>*</span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input id="title" class="form-control" name="title" type="text" required="required" value="<%= arrData ? arrData.title : '' %>">
                <span>Title<span>*</span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6">
              <div class="animate_form field">
                <select name="category_id" class="form-control" id="category_id" required="required">
                  <option value="" selected disabled>--Select Category--</option>
                  <% 
                  arrCategory.forEach(function(cat) { %>
                  <option value="<%= cat.id %>" <% if(cat.id==arrData.category_id){%>selected="selected" <%} %>><%= cat.title %></option>
                  <%  }) %>
                </select>
                <span>Category<span>*</span></span>
              </div>
            </div>


            <div class="col-sm-6">
              <div class="animate_form field">
                <select name="sub_category_id" class="form-control" id="sub_category_id">
                  
                </select>
                <span>Subcategory</span>
              </div>
            </div>

            <!-- <div class="col-sm-6" id="subcategorySection" <% if(arrSub_category && arrSub_category!=''){ }else{%> style="display: none;" <% } %>>
              <div class="animate_form field" >
                <% if(arrSub_category && arrSub_category!=''){ %>
                  <select name="sub_category_id"  class="form-control">
                    <option value="" selected disabled>--Select Sub Category--</option>
                    <% 
                    arrSub_category.forEach(function(subcat) { %>
                    <option value="<%= subcat.id %>" <% if(subcat.id==arrData.sub_category_id){%>selected="selected" <%} %>><%= subcat.title %></option>
                    <%  }) %>
                  </select>
                <% }else{ %>
                  <select name="subcategory" class="form-control" id="sub_category_id" >
                    <option value="" disabled selected>--Select Subcategory--</option>                      
                  </select>
                <% }%>      
                <span>Sub Category<span>*</span></span>
              </div>
            </div> -->

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <label class="control-label" for="short_description">Short Description </label>
                <textarea rows="4" type="text" id="short_description" name="short_description"  class="form-control col-md-12 col-xs-12"><%= arrData ? arrData.short_description : '' %></textarea>
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <label class="control-label" for="description">Description </label>
                <textarea rows="4" type="text" id="description" name="description"  class="form-control col-md-7 col-xs-12"><%= arrData ? arrData.description : '' %></textarea>
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input id="keyword" class="form-control" name="keyword" type="text" value="<%= arrData ? arrData.keyword : '' %>">
                <span>Keyword<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input id="price" class="form-control checkprice" oninput="validatenumber(event)" name="price" type="text" required="required "   value="<%= arrData ? arrData.price : 0.00	 %>">
                <span>Price<span>*</span></span>
                <div class="alert_msg"></div>
              </div>
            </div>

            <div class="col-sm-6" style="display: none"> 
              <div class="animate_form field">
                <input id="url" class="form-control" name="url" onsubmit="substrUrl" type="text" value="<%= arrData ? arrData.url : '' %>">
                <span>Url<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6" style="display: none"> 
              <div class="animate_form field">
                <input id="spice_level" class="form-control" name="spice_level" type="number" value="<%= arrData ? arrData.spice_level : 0.00	 %>">
                <span>Spice Level<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <label>Type<span></span></label>
                  <select name="type" class="form-control" >
                    <option value="" selected disabled>--Select Type--</option>
                    <option value="Veg" <% if(arrData.type=='Veg'){%> selected="selected" <%}  %> >Veg</option>
                    <option value="Nonveg" <% if(arrData.type=='Nonveg'){%> selected="selected" <%}  %> >Nonveg</option>
                  </select>
              </div>     
            </div>

            <div class="col-sm-6" style="display: none"> 
              <div class="animate_form ">
                <select name="tax_class_id"  class="form-control">
                  <option value="" selected disabled>--Select Tax--</option>
                  <% 
                  arrtaxData.forEach(function(tax) { %>
                  <option value="<%= tax.optionID %>" <% if(tax.optionID==arrData.tax_class_id){%>selected="selected" <%} %>><%= tax.optionLabel %></option>
                  <%  }) %>
                </select>
                <span>Tax</span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input id="special_price" class="form-control checkprice" oninput="validatenumber(event)" name="special_price" type="text" value="<%= arrData ? arrData.special_price : '' %>">
                <span>Special Price<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input id="from_special_price" class="form-control"  name="special_price_from" type="text" value="<%= arrData ? arrData.special_price_from : ''%>">
                <span>Special Price From<span></span></span>
                <div class="alert_msg"></div>
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input id="special_price_to" class="form-control" name="special_price_to" type="text" value="<%= arrData ? arrData.special_price_to : '' %>">
                <span>Special Price To<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6" > 
              <div class="animate_form field">
                <input id="weight" class="form-control" name="weight" type="text" value="<%= arrData ? arrData.weight : '' %>">
                <span>Weight<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>
            
            <div class="col-sm-6" > 
              <div class="animate_form field">
                <input id="inventory" class="form-control" name="inventory" type="text" value="<%= arrData ? arrData.inventory : 0 %>">
                <span>Inventory<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>
                  
            <div class="col-sm-6" style="display: none"> 
              <div class="animate_form field">
                <input id="meta_title" class="form-control" name="meta_title" type="text" value="<%= arrData ? arrData.meta_title : '' %>">
                <span>Meta Title<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>
                  
            <div class="col-sm-6" style="display: none"> 
              <div class="animate_form field">
                <input id="meta_key" class="form-control" name="meta_key" type="text" value="<%= arrData ? arrData.meta_key : '' %>">
                <span>Meta Key<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>
                  
            <div class="col-sm-6" style="display: none"> 
              <div class="animate_form field">
                <input id="meta_description" class="form-control" name="meta_description" type="text" value="<%= arrData ? arrData.meta_description : '' %>">
                <span>Meta Description<span></span></span>
                <!-- <div class="alert_msg"></div> -->
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input type="checkbox" id="chk_is_configurable" name="is_configurable" <% if(arrProduct_unit && Array.isArray(arrProduct_unit)){ if(arrProduct_unit.length > 0){ %> checked <%}} %> >
                <span>Is Configurable<span></span></span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="animate_form field">
                <select name="status" class="form-control">
                  <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                  <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                </select>
                <span>Status</span>
              </div>
            </div>    
          </div>
        </div>        

        <!-- Product size price start-->                  
        <div class="is_configurable_class" style="display: none">
        <!-- <div class="is_configurable_class" <% if(arrProduct_unit && Array.isArray(arrProduct_unit)){ if(arrProduct_unit.length > 1){ %> style="display: block" <%}else{ %> style="display: none" <%}}else{ %> style="display: none" <%} %> >   -->
        <div class="content_body panel_body">
          <div class="panel_title">
            <h3>Configurable Products</h3>
            <button style="display:none" class="clone_trigger panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Product Unit</button>
          </div>
        
          <div class="row">

            <div class="col-sm-2" style="display: none">
              <label class="control-label" for="option_value">SKU<span class="required"></span>
              </label>
            </div>

            <!-- <div class="col-sm-2">
              <label class="control-label" for="option_label">Inventory<span class="required"></span>
              </label>
            </div> -->

            <div class="col-sm-2">
              <label class="control-label" for="option_label">Product Size<span class="required"></span>
              </label>
            </div>
            
            <div class="col-sm-2">
              <label class="control-label" for="option_value">Product Price<span class="required"></span>
              </label>
            </div>

            <div class="col-sm-2">
              <label class="control-label" for="option_value">Product Special Price<span class="required"></span>
              </label>
            </div>

            <!-- <div class="col-sm-1">
              <label class="control-label" for="option_value">Product Quantity<span class="required"></span>
              </label>
            </div> -->

            <div class="col-sm-2">
              <label class="control-label" for="product_status">Product Status<span class="required"></span>
              </label>
            </div>

          </div>            
    
          <% if(arrProduct_unit && Array.isArray(arrProduct_unit) && arrProduct_unit.length > 0) {
            arrProduct_unit.forEach(function(val, index) {               
          %>            
          <div class="row clone" style="margin-bottom: 15px;">     
              <div class="col-sm-2" style="display: none">
                <input value="<%= val.sku %>"   type="number" id="sku" name="sku" class="form-control" >
              </div>

              <!-- <div class="col-sm-2"  >
                <input value="<%= val.inventory %>"   type="text" id="product_inventory" name="product_inventory" class="form-control" >
              </div> -->

              <div class="col-sm-2">
                <input value="<%= val.weight %>"   type="text" id="product_size" name="product_size" class="form-control" >
              </div>  

              <div class="col-sm-2">
                <input type="text"  id="product_price" name="product_price" value="<%= val.price %>" class="form-control" >
              </div>

              <div class="col-sm-2">
                <input type="number"  id="product_special_price" name="product_special_price" value="<%= val.special_price %>" class="form-control" >
              </div>

              <!-- <div class="col-sm-2">
                <input type="number"  id="product_quantity" name="product_quantity" value="<%= val.quantity %>" class="form-control" >
              </div> -->

              <div class="col-sm-2">
                <select name="product_status" class="form-control">
                  <option <% if(val.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                  <option <% if(val.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                </select>
              </div>

              <!-- <div class="col-sm-2">
                <input id="ddddddddddddd" class="form-control special_price_from"  name="special_price_from" type="text" value="<%= arrData ? arrData.special_price_from : '' %>">
              </div> -->
              
              
              
              <div class="col-sm-2">
                <button  class="remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
              </div>     
              <input name="updateUnitId" type="hidden"  value="<%= val.id %>" >                
          </div>
        <%  })
        }else{%>
        
          <div class="row clone" style="margin-bottom: 15px;">

            <div class="col-sm-2" style="display: none">
              <input value=""   type="number" id="sku" name="sku" class="form-control" >
            </div>

            <!-- <div class="col-sm-2">
              <input value="" type="text" id="product_inventory" name="product_inventory" class="form-control" >
            </div> -->

            <div class="col-sm-2">
              <input name="product_size" value=""  type="text" id="product_size"  class="form-control" >
            </div>

            <div class="col-sm-2">
              <input name="product_price" type="text" id="product_price"  value="" class="form-control" >
            </div>  

            <div class="col-sm-2">
              <input type="number"  id="product_special_price" name="product_special_price" value="" class="form-control" >
            </div>       

            <!-- <div class="col-sm-2">
              <input type="number"  id="product_quantity" name="product_quantity" value="" class="form-control" >
            </div> -->

            <div class="col-sm-2">
              <select name="product_status" class="form-control">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>
            
            <div class="col-sm-2">
              <button class="remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
            </div>
            <input name="updateUnitId" type="hidden" value="">
          </div>
          <% } %>  
          <div class="placer"></div>
        </div>
      </div>
    </div>  
    <!-- Product size price end--> 

    <!--product image start-->

    <div class="content_body panel_body">
      <div class="panel_title">
        <h3>Product Image<span>*</span></h3>
      </div>
      <div class="animate_form field">
        <div class="imageupload">                
          <div  class="file-tab">
            <div class="">
              <i class="" aria-hidden="true"></i>
              <span>Browse</span>
              <!-- The file is stored here. -->
              <!-- <input type="file" name="image-file"> -->
              <input type="file" <% if(arrData && arrData.image !='') { }else{%> required="required"<% } %> id="image" name="image" value="<%= arrData ? arrData.image : '' %>"  class="file js-loadfile" onchange="PreviewImage();"  accept="image/*" data-type='image' />
              <input id="uploadHiddenCropImage" name="uploadHiddenCropImage" value="" type="hidden">
            </div>                
            <!-- <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> Remove</button> -->
          </div>              
          <div class="row">
            <div id="cropperImageContainer" class="col-md-8">
              <img id="cropper" <% if(arrData){ if(!arrData.image || arrData.image=='') {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% } %> alt="" style="display:none;">
            </div>
            <div class="imgpreview col-md-4">
              <img id="imagePreview" <% if(arrData){ if(!arrData.image || arrData.image=='') {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src=""<% } %>  />
              <input name="update_image" value="<%= arrData ? arrData.image : '' %>" type="hidden">
            </div> 
          </div>
        </div>
      </div>  
      <!-- <div class="item form-group field">
      <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="upload">
            <input type="file" id="image" name="image"  value="<%= arrData ? arrData.image : '' %>"  class="file js-loadfile" onchange="PreviewImage();" accept="image/*" data-type='image' />
            <input id="uploadHiddenCropImage" name="uploadHiddenCropImage" value="" type="hidden">
            <span class="fileName"><%= arrData ? 'Selected' : 'Select file..' %></span>
            </div>

            <div id="cropperImageContainer">
            <img id="cropper" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% } %> alt="" style="display:none;">
            
            </div> 
            <img id="imagePreview" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% } %> style="width: 88px; height: 87px;" />
            <input name="update_image" value="<%= arrData ? arrData.image : '' %>" type="hidden">
            <p>Size Requirement: 88 x 87 px (WxH)</p>
        </div>
      </div> -->
    </div>

    <!-- product image end-->
    
    <div class="btn_right mb-4">
      <!-- <button type="reset" class="cancel_btn">Reset</button> -->
      <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
      <input type="hidden" name="page_number" value="<%= page ? page : '' %>">
      <button id="send" type="submit" class="submit_btn" >Add Product</button>
    </div>  
  </form>
  </div>
</div>                
<script src="<%= adminbaseurl %>build/js/croppr.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>
<script src="<%= adminbaseurl %>build/js/croppr.js"></script>
<script src="<%= adminbaseurl %>ckeditor/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
<%- include ../jqueryDatePicker/jquerydatepicker.html %>
<script>
// $("#special_price_from").each(function(){
//     var currentValue = $("#special_price_from").val();
//     if(currentValue)
//     $("#special_price_to").datepicker('setDate',new Date(currentValue));
// // });
$("#from_special_price","#special_price_to").keydown(function(event) {
  //alert(1)
  if(event.keyCode != 8){
    event.preventDefault();
  }
});
var dateToday = new Date();
var dates = $("#from_special_price, #special_price_to").datepicker({
  // defaultDate: "+1d",
  changeMonth: true,
  changeYear: true,
  dateFormat: 'yy-mm-dd',
  minDate: dateToday,
  onSelect: function(selectedDate) {    
    console.log(this)
    var option = this.id.indexOf("from_special_price") != -1 ? "minDate" : "maxDate",
    instance = $(this).data("datepicker"),
    date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
    dates.not(this).datepicker("option", option, date);
  }
});
// $( function() {
//   $( "#special_price_from" ).datepicker({
//     dateFormat: 'yy-mm-dd',
//     numberOfMonths: 1,    
//   });  
// } );
// $( function() {
//   $( "#special_price_to" ).datepicker({
//     dateFormat: 'yy-mm-dd',
//     numberOfMonths: 1,    
//   });  
// } );
</script>

<script type="text/javascript">



  function PreviewImage() {

      var fileInput = document.getElementById('image');
      var filePath = fileInput.value;
      var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Please upload file having extensions .jpeg/.jpg/.png  only.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }



    var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("image").files[0]);
    oFReader.onload = function (oFREvent) {
      document.getElementById("imagePreview").src = oFREvent.target.result;
    };
  };

  var imageData=null;
  var fileParts = '';
  var image_target = $('#cropper').get(0);
  var after_cropped_target = $('#imagePreview').get(0);
  var cropImageFile = '';
  
  $('.js-loadfile').change(function(evt) {
    var files = evt.target.files; // FileList object
    var reader = new FileReader();

    reader.onload = function(e) {
      imageData=reader.result;
      loadData();
    }
    fileParts = files[0].name.split('.');
    reader.readAsDataURL(files[0]);
  });
  
  dataURLtoFile = function(dataurl, filename) {
    var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
      bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
    while(n--){
      u8arr[n] = bstr.charCodeAt(n);
    }
    return new File([u8arr], filename, {type:mime});
  }; 
  
  loadData = function() {
    //set the image target
    document.getElementById('cropperImageContainer').innerHTML = '<img id="cropper" src="" alt="" style="display:none;">';
    
    image_target = $('#cropper').get(0);
    image_target.src=imageData;
    after_cropped_target.src=image_target.src;
    var croppr = new Croppr('#cropper', {
      // aspectRatio: 1,
      aspectRatio: 1,
      minSize: [88, 87, 'px'],
      onInitialize: (instance) => { 
        // console.log(instance); 
        // var left = 129,
        // top =  0,
        // width = 768,
        // height = 768;
        var data = instance.getValue();
        var left = data.x,
        top =  data.y,
        width = data.width,
        height = data.height;
        cropImage(left,top,width,height);
      },
      onCropStart: (data) => { 
        //console.log('start', data);
        //profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
        
      },
      onCropEnd: (data) => {
        console.log(data);
        var left = data.x,
        top =  data.y,
        width = data.width,
        height = data.height;
        cropImage(left,top,width,height);
      },
      onCropMove: (data) => { 
        //console.log('move', data); 
        //profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
      }
    });
    
    //croppr.destroy();
  };
  
  cropImage = function(left,top,width,height){
    //alert("Test");
    var image_target = $('.croppr-image').get(0);
    var after_cropped_target = $('#imagePreview').get(0);
    var crop_canvas;
      
    crop_canvas = document.createElement('canvas');
    crop_canvas.width = width;
    crop_canvas.height = height;
    
    crop_canvas.getContext('2d').drawImage(image_target, left, top, width, height, 0, 0, width, height);
    var dataURL=crop_canvas.toDataURL("image/png");
    after_cropped_target.src=dataURL;
    var imageCropped64Image = dataURL;
    
    var d = new Date();
    var n = d.getTime();
    
    var basefile = fileParts[0]+ '_' + n;
    var ext = fileParts[1];
    
    //var ext = imageCropped64Image.split(';')[0].match(/jpeg|png|gif/)[0];
    var mime = imageCropped64Image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
    var mimeType = '';
    if (mime && mime.length) {
    mimeType = mime[1];
    }
    
    document.getElementById('uploadHiddenCropImage').value = basefile+'.'+ext;
    cropImageFile = this.dataURLtoFile(imageCropped64Image, basefile+'.'+ext)
  };

  // $('#category_id').on('change',function(e){
  //   // alert(e.target.value)
  //   if(e.target.value && e.target.value !=''){
  //     $.ajax({
  //       url: "<%= apiurl%>product_Subcat_Bycategory/"+e.target.value,
  //       type: "get",
  //     })
  //     .done( function( json ) {
  //       console.log(json)
  //       if(json.data.success){
  //         // console.log(json.data.product);
  //         // if(json.data.product && json.data.product.length > 0){
  //         //   $("#productSection").show();
  //         //   $("#product").empty();
  //         //   var productHtml = "<option value='' disabled selected>--Select Product--</option>";
  //         //   json.data.product.forEach(elem => {
  //         //     productHtml+= "<option value='"+elem.id+"' data-type='"+elem.type+"' data-price='"+elem.price+"' >"+elem.title+"</option>"
  //         //   });                
  //         //   $("#product").append(productHtml);
  //         // }else{
  //         //   $("#productSection").hide();
  //         // }

  //         if(json.data.subcategory && json.data.subcategory.length > 0){
  //           $("#subcategorySection").show();
  //           $("#sub_category_id").empty();
  //           var subcatHtml = "<option value='' disabled selected>--Select Subcategory--</option>";
  //           json.data.subcategory.forEach(element => {
  //             subcatHtml+= "<option value='"+element.id+"' >"+element.title+"</option>"
  //           });                
  //           $("#sub_category_id").append(subcatHtml);
  //         }else{
  //           $("#subcategorySection").hide();
  //         }
  //         // console.log(json.data.subcategory);                                   
  //       }else{
  //         console.log('json.data.subcategory'); 
  //       }
  //     })
  //     .fail( function( xhr, status, errorThrown ) {
  //       // alert( "Sorry, there was a problem! " + errorThrown );
  //       $("#sub_category_id").empty();
  //       $("#sub_category_id").append("<option value='' disabled selected>--Select Subcategory--</option>");
  //       $("#subcategorySection").hide();
  //       console.log( "Error: " + errorThrown );
  //       console.log( "Status: " + status );
  //       console.dir( xhr );
  //     })
  //     .always( function( xhr, status ) {
  //       // alert( "The request is complete!" );
  //     });
  //   }        
  // });
  
  $('#product-info').on('submit', function(e){
    var form = document.getElementById('product-info');
    var formData = new FormData();
    //var formData = new FormData(form);
    formData.append('image', cropImageFile);

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function(result) {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById('cropperImageContainer').innerHTML = '';
        //window.scrollTo(0, 0);
        }
    };
    // Add any event handlers here...
    xhr.open('POST', '<%= adminbaseurl %>product/fileupload', true);
    xhr.send(formData);
  });
  ////////////////////////////////code end////////////////////////////////
  function validate(evt){
    //alert( evt.value);
    evt.value = evt.value.replace(/[^0-9]/g,"");
  }

</script>

<SCRIPT type="text/javascript">
  
</SCRIPT>


<script>            
  CKEDITOR.editorConfig = function (config) {
    config.language = 'es';
    config.uiColor = '#F7B42C';
    config.height = 300;
    config.toolbarCanCollapse = true; 
  };
 CKEDITOR.replace('description');
//  CKEDITOR.replace('short_description');
</script>

<script>
  // jQuery(".choose").chosen({
  //   max_selected_options: 10,
  // placeholder_text_multiple: ""
  // })
  // .bind("chosen:maxselected", function (){
  //   window.alert("You reached your limited number of selections which is 10 selections!");
  // });
</script>

<script>
  $(document).ready(function(){
    $(".datepicker").datepicker();
    $("button").click(function(){
      $("p").removeClass("intro");
    });
    if ($('#chk_is_configurable').is(":checked")) {
      // alert(1)
      $(".is_configurable_class").show();
      $(".clone_trigger.panel_btn").show();   
       
    }else{
      // alert(2)
      $(".clone_trigger.panel_btn").hide();   
      $(".is_configurable_class").hide(); 
    }
  });
</script>

<script>
  $(document).ready(function(){
    $(".clone_trigger").click(function () {        
      $('.clone').first().clone()
      .find("input").val("").end()
      .find(".remove_trigger").show().end()      
      .insertBefore(".placer");
      $('input.cl:last').val('');
      event.preventDefault();
    });   
    $(document).on('click','.remove_trigger',function () {     
      if ($(".clone").length > 0) {        
        if($(".clone").length == 1){
          $(".clone:last")
          .find("input").val("").end()     
          $(".clone_trigger.panel_btn").hide();   
          $(".is_configurable_class").hide();  
          $("#chk_is_configurable"). prop("checked", false);
        }else{
          $(this).closest('.clone').remove();
        }                         
      }        
      event.preventDefault();
    });      
    
    // $("#price").click(function () {
    // $(document).on('input','#price',function () {   
    //   // document.getElementById('price').oninput = function () {
    //   console.log(this.value)
    //   console.log($(this.parentNode))
    //   var regex = /^[0-9]*(?:\.\d{1,2})?$/;
    //   if( !regex.test(this.value)){
    //     alert('invalid value');
    //     if(!$(this.parentNode).hasClass('bad')){
    //       $(this.parentNode).addClass('bad')
    //       $( '<div class="alert">Must enter a valid phone number</div>' ).insertAfter( this );
    //     }  else{
    //       $(this.parentNode).removeClass('bad');
    //       $(this).next('div').remove();   
    //     }               
    //   }else{
    //     $(this.parentNode).removeClass('bad');
    //     $(this).next('div').remove();      
    //   }
    // })

  });
</script>
<script>
  $("#chk_is_configurable").click(function () {
    if ($(this).is(":checked")) {
      $(".is_configurable_class").show();
      $(".clone_trigger.panel_btn").show();   
      
      // $( ".clone:not(:first)" ).each(function(){
      //   $(this).remove();
      // });
      // $(".clone:last").find("input:text").val("").end();
      // $(".is_configurable_class").show();
    } else {
      $(".is_configurable_class").hide();
      $(".clone_trigger.panel_btn").hide();         
      $( ".clone:not(:first)" ).remove();
      $(".clone:last").find("input").val("").end();
      // alert($('.remove_trigger:visible').length);
      // $('.remove_trigger:visible').parent().parent('.clone').remove();
      // if($('.clone.remove_trigger').css('display') == 'none')
      // {
      //   alert(141)
      //   // Take element is hidden action
      // }
      // $(".is_configurable_class").hide();
    }
  });

    
   function validatenumber(event) {
    console.log(event.target.value);
    // event.target.parentElement.classList.add("bad");
    var regex = /^[0-9]*(?:\.\d{1,2})?$/;    // allow only numbers [0-9] 
    // if( !regex.test(event.target.value) ) {
    //   alert('invalid value');
    // console.log(event.target.parentElement)

    if( !regex.test(event.target.value)){
      // alert('invalid value');
      console.log(event.target.parentElement.classList)
      // event.target.classList.contains('bad')
      if(!event.target.parentElement.classList.contains('bad')){
        // alert('no')
        // console.log($(event.target.parentNode))
        //  $(event.parentNode).addClass("bad");
        $(event.target.parentElement).next('div').remove();
        $('<div class="alert">Must enter a valid price</div>' ).insertAfter(event.target.parentElement);
      }                
    }else{
      console.log(event.target.nextElementSibling);
      event.target.parentElement.classList.remove("bad");
      $(event.target.parentElement).next('div').remove();
      // event.target.nextElementSibling.remove();    
    }
  }

  $( document ).ready(function() {
        var category_id = $("#category_id").val();
  // alert(category_id);
            $.ajax({
                type: "POST",
                url: "/superpos/product/subcategory/list/"+category_id,
                data: {category_id:category_id},
                processData: false,
                contentType: false,
                success: function(data) {
                  var len = data.length;
                  $("#sub_category_id").empty();
            //$("#sub_category_id").append("<option value=''>--Select Subcategory--</option>");
            for( var i = 0; i<len; i++){
                var id = data[i]['id'];
                var name = data[i]['title'];
               
                $("#sub_category_id").append("<option value='"+id+"'>"+name+"</option>");
            }
                },
                error:function(error) {
                    console.log(error.responseText);
                }
            });
});
  $(document).on('change','#category_id',function(){
        var category_id = $(this).val();
   
            $.ajax({
                type: "POST",
                url: "/superpos/product/subcategory/list/"+category_id,
                data: {category_id:category_id},
                processData: false,
                contentType: false,
                success: function(data) {
                  var len = data.length;
                  $("#sub_category_id").empty();
            $("#sub_category_id").append("<option value=''>--Select Subcategory--</option>");
            for( var i = 0; i<len; i++){
                var id = data[i]['id'];
                var name = data[i]['title'];
               
                $("#sub_category_id").append("<option value='"+id+"'>"+name+"</option>");
            }
                },
                error:function(error) {
                    console.log(error.responseText);
                }
            });
});


</script>
<!-- <script>
  function substrUrl() {
   
    var res = str.substr(2);
    document.getElementById("url").innerHTML=res;
  }
  </script> -->