<%- include ../partials/sidebar %>       
<%- include ../partials/header %>
<!-- page content -->
<style>
  .dataTables_length, .dataTables_filter{ width: 100%;}
</style>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
                <div class="title_left">
                  <h3><%= title %></h3>
                  
                   <% if(messages!='') {%>
            <div class="succ_msg msg">
            
           <%=messages%>
            </div>
             <%}%>
             
              <% if(errors!='') {%>
            <div class="succ_err msg">
           <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
           <%=errors%>
            </div>
             <% }%>
             
                </div>
                
               
              </div>
  
              <div class="clearfix"></div>
        <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  
                  <div class="x_panel">
                    
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style="width:10px">Sl No</th>
                          <th>Name</th>
                          <th>Status</th>
                          <!-- <th>Created By</th> -->
                          <th>Created At</th>
                          <th>Action</th>
                        </tr>
                      </thead>


                      <tbody>
                        
                        <% var i=1;
                        arrData.forEach(function(val) { %>
	
						  <tr>
                 <td> <%= i %></td>
							<td> <%= val.name %></td>
							<td> <%= val.status %></td>
							<!-- <td> <%= val.createdBy %></td> -->
							<td> <%= moment(val.createdAt).format( 'LL') %></td>
						   <td>
						   <a href="<%= adminbaseurl%>country/addedit/<%= val.id %>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
              <a id="delete" href="<%= adminbaseurl%>country/delete/<%= val.id %>" class="btn btn-danger btn-xs" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash-o"></i> Delete </a>
              <a id="add" href="<%= adminbaseurl%>city/<%= val.id %>" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Manage City </a>

						   </td>
						  </tr>
							<% i++; }) %>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!--right side form-->
              <div class="col-sm-4 col-xs-12">
                  <div class="x_panel">
                  <form name="role" class="form-horizontal form-label-left" novalidate method="POST" action="<%= adminbaseurl %>country/add">

                   <!-- <p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                  </p>   -->
                   
                   
                   
                   

                  <div class="item form-group field">
                    <label for="name">Name <span class="required">*</span>
                    </label>
                      <input value="<%= arrCountry ? arrCountry.name : '' %>" id="postTitle" class="form-control col-md-7 col-xs-12"  name="name"  required="required" type="text">
                
                  </div>
                    <% if (!arrCountry) {%>
                  <div class="item form-group field">
                    <label for="slag">Slag<span class="required">*</span>
                    </label>
                      <input value="<%= arrCountry ? arrCountry.slag : '' %>" readonly type="text" id="postSlug" name="slag" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                    <% } %> 
                  <div class="item form-group field">
                    <label for="metaTitle">Code<span class=""></span>
                    </label>
                      <input type="text" id="code" name="code" value="<%= arrCountry ? arrCountry.code : '' %>" class="form-control col-md-7 col-xs-12">
                   
                  </div>
                  <div class="item form-group field">
                    <label for="metaTitle">Sequence<span class=""></span>
                    </label>
                      <input type="text" id="sequence" name="sequence" value="<%= arrCountry ? arrCountry.sequence : '' %>" class="form-control col-md-7 col-xs-12">
                    
                  </div>
                  
                  
                  <div class="item form-group field">
                    <label for="password">Status</label>
                      <select name="status" class="form-control col-md-7 col-xs-12">
                        <!--<option value="">Select</option>-->
                        <option <% if(arrCountry.status=='active'){ %>selected="selected" <% }%>  value="active" >Active</option>
                        <option <% if(arrCountry.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                        <option <% if(arrCountry.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option>
                      </select>

                  </div>
                  <!--<div class="ln_solid"></div>-->
                  <div class="form-group">
                    
                    <input name="update_id" value="<%= arrCountry ? arrCountry.id : '' %>" type="hidden">
                    <input name="user_id" value="<%= usercreatedBy ? usercreatedBy : '' %>" type="hidden">
                      <!-- <button type="submit" class="btn btn-primary">Cancel</button> -->
                      <button id="send" type="submit" class="btn btn-success">Submit</button>
                   
                  </div>
                </form>
                </div>
              </div>
    </div>
</div>


<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer %>


      
