<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<!-- page content -->
<div class="content_wraper">
	<div class="main_container">          
		<div class="header_wraper">
			<h2>Coupon Value</h2>
			<ul>
			<li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>coupon"></i> Coupon</a></li> 
            <li>Coupon Value</li>
			</ul>
		</div> 
		
	

		<form id="category-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>coupon-value/add">
			<div class="content_body panel_body">
				<div class="panel_title">
					<h3>Coupon Value Info</h3>
				</div>												
				<div class="clearfix"></div>
				<!-- <ul class="nav nav-tabs custom_tab"> -->
					<!-- <li><a data-toggle="tab" href="#gen-info" class="active show">General Information</a></li> -->
					<!-- <!-- <li><a data-toggle="tab" href="#products">Products</a></li> --> 
				<!-- </ul> -->
				<div class="tab-content">
					<!--category content start-->
					<div id="gen-info" class="tab-pane fade in active show">
						<div class="row edit_box">

						

							<div class="col-sm-6"> 
								<div class="animate_form field">
									<input id="coupon_value" required="required" class="form-control" name="coupon_value" type="text" value="<%= arrData ? arrData.coupon_value : '' %>" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
									<span>Amount/Percentage<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>

						
						</div>
					</div>
					<!--category content end-->
				</div>
			</div>
			<div class="btn_right mb-4">
				<input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
				<button id="send" type="submit" class="submit_btn">Submit</button>
			</div>
		</form>
		</div>
	</div>
</div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>

<%- include ../jqueryDatePicker/jquerydatepicker.html %>
<script>
// $("#special_price_from").each(function(){
//     var currentValue = $("#special_price_from").val();
//     if(currentValue)
//     $("#special_price_to").datepicker('setDate',new Date(currentValue));
// // });
$("#date_from","#date_to").keydown(function(event) {
  //alert(1)
  if(event.keyCode != 8){
    event.preventDefault();
  }
});
var dateToday = new Date();
var dates = $("#date_from, #date_to").datepicker({
  // defaultDate: "+1d",
  changeMonth: true,
  changeYear: true,
  dateFormat: 'yy-mm-dd',
  minDate: dateToday,
  onSelect: function(selectedDate) {    
    console.log(this)
    var option = this.id.indexOf("date_from") != -1 ? "minDate" : "maxDate",
    instance = $(this).data("datepicker"),
    date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
    dates.not(this).datepicker("option", option, date);
  }
});
</script>

<script>
	function myFunction() {
		//alert(5454);
		var x = document.getElementById("coupon_type").value;
		//alert(x);
		document.getElementById("coupon_value").value = '';
	}
	</script>

	