<%- include ../partials/header %>       
<%- include ../partials/sidebar %>
<!-- page content -->

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
                <div class="title_left">
                  <h3><%=title%><small></small></h3>
                  <h4><%=message%><small></small></h4>
                </div>
               
              </div>
  
              <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <!-- <div class="x_title">
                    <h2>Default Example <small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>                                           
                    </ul>
                    <div class="clearfix"></div>
                  </div> -->
                  <div class="x_content">
                    
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style="width:15px">Sl No</th>
                          <th>Attribute Id</th>
                          <th>Value</th>
                          <th>Label</th>
                          <th>Position</th>
                          <th>Status</th>
                        </tr>
                      </thead>


                      <tbody>
                        
                        <% var i=1;
                         arrData.forEach(function(val) { %>
	
                          <tr>
                            <td> <%= i %></td>
                            <td> <%= val.attribute_id %></td>
                            <td> <%= val.value %></td>
                            <td> <%= val.label %></td>
                            <td> <%= val.position %></td>
							              <td> <%= val.status %></td>
						   <td>
						   <a href="<%= adminbaseurl%>attribute_option/addedit/<%= val.id %>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                          <!-- <a id="delete" href="<%= adminbaseurl%>users/delete/<%= val.id %>" class="btn btn-danger btn-xs" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash-o"></i> Delete </a> -->

						   </td>
						  </tr>
							<% i++; }) %>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
    </div>
</div>

<!-- page content -->
<%- include ../partials/footer %>


      