<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       

<!-- page content -->

<style>
  .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
  .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
  .speech img {float: right; width: 40px }

  .top_title_check:after{clear:both; content:''; display:block; width:100%}
  .top_title_check label{float:left}
   .check_all_right{float:right}
   .form-control{
     height:150px;
   }
</style>

<div class="content_wraper">
  <div class="main_container">
    
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                <li><h4><%=title%><small></small></h4></li>
            </ul>
        </div>

        
        <div class="content_body">
          <div class="table_heading">
            <h3>Write message For <%=title%></h3>

            <form class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="<%= adminbaseurl %>sms/send">
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault01">SMS Content</label>
                  <textarea type="text" class="form-control"  placeholder="Please Type Your Message" name="massage" required><%= arrData ? arrData.massage : '' %></textarea>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="top_title_check">
                    <label for="validationDefault02">Phone no</label>
                    <div class="check_all_right">
                    <input type="checkbox" name="sall" id="sall">&nbsp;Select All
                    </div>
                  </div>
                  
                  <select name="phoneno" id="phoneno" size="4" class="form-control" multiple>
                   <% arrData.forEach(function(cust) { %>
                      <option value="<%= cust.phone %>" ><%= cust.phone %></option>
                    <%  }) %>
                  
                  </select>
                  
                </div>
              </div>
              <input class="btn btn-primary" id="send" type="submit" value="Send SMS" />
            </form>


          </div>
        </div>
      </div>
    </div>
  

<!-- page content -->
<!-- <script src="<%= adminbaseurl %>vendors/validator/validator.js"></script> -->
<%- include ../partials/footer.html %>


<script>
$("#sall").change(function() {
  if($(this).prop("checked") == true){
    $('#phoneno option').prop('selected', true);
  } else {
    $('#phoneno option').prop('selected', false);
  }
}); 
</script>




      