<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">          
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
				 <li><a href="<%= adminbaseurl %>dropdown_settings">Dropdown Settings</a></li> 
                <li><%=title%></li>
            </ul>
        </div>

        <% if(messages!='') {%>
        <div class="succ_msg msg" id="succ_msg">    
            <i class="fa fa-check"  aria-hidden="true"></i>        
            <%=messages%>
        </div>
        <%}%>                
        <% if(errors!='') {%>
        <div class="succ_err msg" id="err_msg">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
            <%=errors%>
        </div>
        <% }%>

        <form class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>dropdown_settings/add">
            <!--Arrtibute info start-->
            <div class="content_body panel_body">
                <div class="panel_title">
                    <h3><%=title%> Info</h3>
                </div>
        
                <div class="clearfix"></div>
        
                <div class="row edit_box">
                    <div class="col-sm-6">
                        <div class="animate_form field">
                            <input id="name" class="form-control" name="name" type="text" required="required" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" value="<%= arrData ? arrData.name : '' %>">
                            <span>Name<span>*</span></span>
                            <div class="alert_msg"></div>
                        </div>
                    </div>

                    <% if(!arrData) { %>
                    <div class="col-sm-6"> 
                        <div class="animate_form field">
                            <input id="identifier" class="form-control" name="identifier" type="text" <%= arrData.identifier ? '' : 'readonly' %> value="<%= arrData ? arrData.identifier : '' %>" >
                            <span>Identifier<span>*</span></span>
                            <div class="alert_msg"></div>
                        </div>
                    </div>
                    <% } %> 

                    <div class="col-sm-6">
                        <div class="animate_form field">
                            <select name="status" class="form-control">
                                <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                                <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                                <!-- <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option> -->
                            </select>
                            <span>Status<span></span></span>
                        </div>
                    </div>
                </div> 
            </div>
            
            <!-- Dropdown Option-->                  
                  
            <div class="content_body panel_body">
                <div class="panel_title">
                    <h3>Dropdown Option</h3>
                    <button class="clone_trigger panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                </div>
              
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="option_label">Option Label<span class="required"></span>
                        </label>
                    </div>

                    
                    <div class="col-sm-3">
                        <label class="control-label" for="option_value">Option Value<span class="required"></span>
                        </label>
                    </div>
                    
                    <div class="col-sm-3">
                        <label class="control-label" for="option_order">Option Order<span class="required"></span>
                        </label>
                    </div>
                </div>
                  
        
                <% if(arrOption!='') {
                arrOption.forEach(function(val) { %>            
                    <div class="row clone" style="margin-bottom: 15px;">        
                        <div class="col-sm-3">
                            <input value="<%= val.option_label %>"   type="text" id="option_label" name="option_label" class="form-control" >
                        </div>              
                        <div class="col-sm-3">
                            <input type="text"  id="option_value" name="option_value" value="<%= val.option_value %>" class="form-control" >
                        </div>

                        <div class="col-sm-3">
                            <input type="text"  id="option_order" name="option_order" value="<%= val.option_order %>" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        </div>
                        <div class="col-sm-3">
                            <button class="remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                        </div>            
                        <input name="updateId" type="hidden" value="">                
                    </div>
                <% })
                }else{%>
                
                    <div class="row clone" style="margin-bottom: 15px;">
                        <div class="col-sm-3">
                            <input name="option_label" value=""  type="text" id="option_label"  class="form-control" >
                        </div>
                        <div class="col-sm-3">
                            <input name="option_value" type="text" id="option_value"  value="" class="form-control" >
                        </div>

                            <div class="col-sm-3">
                            <input name="option_order" type="text" id="option_order"  value="" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        </div>
                        <div class="col-sm-3">
                            <button class="remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                        </div>
                        <input name="updateId" type="hidden" value="">
                    </div>
                <% } %>  
            
                <div class="placer"></div>
            </div>
        

            <div class="btn_right mb-4">
                <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
                <button id="send" type="submit" class="submit_btn">Submit</button>
            </div>

        </form>
    </div>
</div>

<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>   

<script>
  $(document).ready(function(){
    $(".clone_trigger").click(function () {
        //$('#option_label').val('');
        //$('#option_value').val('');
        //$('#option_order').val('');
        $('.clone').first().clone()
        .find("input:text").val("").end()
        .insertBefore(".placer");
        $('input.cl:last').val('');
      event.preventDefault();
    });     
    // $(document).on('click','.remove_trigger',function () {
     
    // if ($(".clone").length != 1) {
        
    //      $(".clone:last").remove();
          
    // }
     
    //   event.preventDefault();
    // });
    $(document).on('click','.remove_trigger',function () {     
        if ($(".clone").length > 0) {        
            if($(".clone").length == 1){
                $(".clone:last")
                .find("input:text").val("").end()
                //$(".clone:last").hide();      
            }else{
                $(this).closest('.clone').remove();
            }                         
        }        
        event.preventDefault();
    });       
});
</script>
<script>
    $('#identifier').attr('readonly', true);
    $("#name").keyup(function(){
    $("#identifier").val($(this).val().replace(/\s+/g, '_').toLowerCase());
});
</script>