
<script src="<%= adminbaseurl %>validator-master/multifield.js"></script>
<script src="<%= adminbaseurl %>validator-master/validator.js"></script>
<script>
	// initialize a validator instance from the "FormValidator" constructor.
	// A "<form>" element is optionally passed as an argument, but is not a must
	var validator = new FormValidator({"events" : ['blur', 'input', 'change']}, document.forms[0]);


	// on form "submit" event
	document.forms[0].onsubmit = function(e){
		var submit = true,
		validatorResult = validator.checkAll(this);
        // console.log(validatorResult);
        setTimeout(function(){ 
            if($(".bad")[0]){
                console.log($(".bad:visible").length);
                if($(".bad:visible").length > 0){
                    var position = $('.bad:visible').offset().top;
                    $("body, html").animate({scrollTop: (position-170)});
                }      
            }
        },500) 
		return !!validatorResult.valid;
	};
</script>