<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>

<script src="<%= adminbaseurl %>ckeditor/ckeditor.js"></script>
<!-- page content -->

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3><%=title%></h3>

            <% if(messages!='') {%>
            <div class="succ_msg msg">
            
           <%=messages%>
            </div>
             <%}%>
             
              <% if(errors!='') {%>
            <div class="succ_err msg">
           <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
           <%=errors%>
            </div>
             <% }%>

          </div>
          <div class="title_right text-right">
              <a href="<%= adminbaseurl %>category_product" class="btn btn-success right">List of Category Product</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">

                <form class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>category_product/add">
                   
                  <div class="item form-group field">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="roll">Category Id</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="category_id" name="category_id" class="form-control col-md-7 col-xs-12">
                            <option value="" selected disabled>Choose Category Id</option>
                            <% arrCategoryData.forEach(function(category){%>
                                <option value="<%= category.id%>" <% if(arrData.category_id==category.id) {%> selected <% }%>><%=category.id%></option>
                            <%})%>    
                          </select> 
                      </div>
                  </div>

                  <div class="item form-group field">
                    <label for="include_in_menu" class="control-label col-md-3">Product Id</label> 
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select name="include_in_menu" class="form-control col-md-7 col-xs-12">
                        <option <% if(arrData.include_in_menu=='yes'){ %>selected="selected" <% }%> value="yes">Yes</option>
                        <option <% if(arrData.include_in_menu=='no'){ %>selected="selected" <% }%> value="no">No</option>
                      </select>
                    </div>
                  </div>

                  <div class="item form-group field">
                    <label for="include_in_menu" class="control-label col-md-3">Position</label> 
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select name="include_in_menu" class="form-control col-md-7 col-xs-12">
                        <option <% if(arrData.include_in_menu=='yes'){ %>selected="selected" <% }%> value="yes">Yes</option>
                        <option <% if(arrData.include_in_menu=='no'){ %>selected="selected" <% }%> value="no">No</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group field">
                    <div class="col-md-6 col-md-offset-3">
                      <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
                      <button id="send" type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>


<script type="text/javascript">
  function PreviewprofilePicture() {
  var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("profilePicture").files[0]);
  oFReader.onload = function (oFREvent) {
  document.getElementById("profilePicturePreview").src = oFREvent.target.result;
  };
};


////////////////////////////

var imageData=null;
			var fileParts = '';
			var image_target = $('#cropper').get(0);
			var after_cropped_target = $('#profilePicturePreview').get(0);
			//var profileInfoNode = document.getElementById('profileCropInfo');
			var profileCropImageFile = '';
			
			$('.js-loadfile').change(function(evt) {
				var files = evt.target.files; // FileList object
				var reader = new FileReader();

				reader.onload = function(e) {
				  imageData=reader.result;
				  loadData();
				}
				//alert(files[0].name);
				fileParts = files[0].name.split('.');
				reader.readAsDataURL(files[0]);
			});
			
			dataURLtoFile = function(dataurl, filename) {
				var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
					bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
				while(n--){
					u8arr[n] = bstr.charCodeAt(n);
				}
				return new File([u8arr], filename, {type:mime});
			}; 
			
			loadData = function() {
				//set the image target
				
				document.getElementById('cropperImageContainer').innerHTML = '<img id="cropper" src="" alt="" style="display:none;">';
				
				image_target = $('#cropper').get(0);
				
				image_target.src=imageData;
				after_cropped_target.src=image_target.src;
				var croppr = new Croppr('#cropper', {
					aspectRatio: 1,
					//maxSize: [100, 100, '%'],
					minSize: [88, 87, 'px'],
					//startSize: [60, 40, '%'],
					//maxSize: { width: null, height: null },
					//minSize: { width: null, height: null },
					//startSize: { width: 100, height: 100, unit: '%' },
					onInitialize: (instance) => { 
						console.log(instance); 
						var left = 129,
						top =  0,
						width = 768,
						height = 768;
						cropImage(left,top,width,height);
					},
					onCropStart: (data) => { 
						//console.log('start', data);
						//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
						
					},
					onCropEnd: (data) => {
						console.log(data);
						var left = data.x,
						top =  data.y,
						width = data.width,
						height = data.height;
						cropImage(left,top,width,height);
					},
					onCropMove: (data) => { 
						//console.log('move', data); 
						//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
					}
				});
				
				//croppr.destroy();
			};
			
			cropImage = function(left,top,width,height){
				//alert("Test");
				var image_target = $('.croppr-image').get(0);
				var after_cropped_target = $('#profilePicturePreview').get(0);
				var crop_canvas;
					
				crop_canvas = document.createElement('canvas');
				crop_canvas.width = width;
				crop_canvas.height = height;
				
				crop_canvas.getContext('2d').drawImage(image_target, left, top, width, height, 0, 0, width, height);
				var dataURL=crop_canvas.toDataURL("image/png");
				after_cropped_target.src=dataURL;
				var profileCropped64Image = dataURL;
				
				var d = new Date();
				var n = d.getTime();
				
				var basefile = fileParts[0]+ '_' + n;
				var ext = fileParts[1];
				
				//var ext = profileCropped64Image.split(';')[0].match(/jpeg|png|gif/)[0];
				var mime = profileCropped64Image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
				var mimeType = '';
				if (mime && mime.length) {
				mimeType = mime[1];
				}
				
				document.getElementById('uploadHiddenCropProfilePicture').value = basefile+'.'+ext;
				profileCropImageFile = this.dataURLtoFile(profileCropped64Image, basefile+'.'+ext)
			};
			
			$('#user-info').on('submit', function(e){
				var form = document.getElementById('user-info');
				var formData = new FormData();
				//var formData = new FormData(form);
				formData.append('profilePicture', profileCropImageFile);

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function(result) {
					if (this.readyState == 4 && this.status == 200) {
						document.getElementById('cropperImageContainer').innerHTML = '';
						//window.scrollTo(0, 0);
				   }
				};
				// Add any event handlers here...
				xhr.open('POST', '/superpos/users/fileupload', true);
				xhr.send(formData);
			});
			

//////////////////////////////////////////// end code here //////////////////////////////////////////////
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>
    

<script>            
    CKEDITOR.editorConfig = function (config) {
       config.language = 'es';
       config.uiColor = '#F7B42C';
       config.height = 300;
       config.toolbarCanCollapse = true;
   
   };
   CKEDITOR.replace('description');
</script>
    

<!-- <script>
  App.Dispatcher.on("uploadpic", function() {         
        $(":file").change(function() {
            if (this.files && this.files[0] && this.files[0].name.match(/\.(jpg|jpeg|png|gif)$/) ) {
                if(this.files[0].size>1048576) {
                    alert('File size is larger than 1MB!');
                }
                else {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            } else alert('This is not an image file!');
        });
        function imageIsLoaded(e) {
            result = e.target.result;
            $('#image').attr('src', result);
        };
    });
</script> -->

