<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>
<!-- page content -->

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
                <div class="title_left">
                  <h3><%=title%><small></small></h3>
                  <h4><%=message%><small></small></h4>
                </div>
                <div class="title_right text-right">
                  <a href="<%= adminbaseurl %>category_product/addedit" class="btn btn-success right">Add Category Product</a>
                </div>
              </div>
  
              <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style="width:15px">Sl No</th>
                          <th>Category Id</th>
                          <th>Product Id</th>
                          <th>Position</th>
                          <th>Created At</th>
                          <th>Action</th>
                        </tr>
                      </thead>


                      <tbody>
                        
                        <% var i=1;
                         arrData.forEach(function(val) { %>
	
                            <tr>
                              <td> <%= i %></td>
                            <td> <%= val.category_id %></td>
                            <td> <%= val.product_id %></td>
                            <td> <%= val.position %></td>
                            <td> <%= moment(val.createdAt).format( 'LL') %></td>
                            <td>
                            <a href="<%= adminbaseurl%>category_product/addedit/<%= val.id %>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a id="delete" href="<%= adminbaseurl%>category_product/delete/<%= val.id %>" class="btn btn-danger btn-xs" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash-o"></i> Delete </a>

                            </td>
                            </tr>
							            <% i++; }) %>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
    </div>
</div>

<!-- page content -->
<%- include ../partials/footer %>


      