<%- include ../partials/sidebar.html %>       
<%- include ../partials/header.html %>
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboards">Dashboards</a></li>
            <li><%=title%></li>
          </ul>
      </div>


              <form class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= apiurl %>attribute/add">
                   <!--Arrtibute info start-->
                   <div class="content_body panel_body">

                      <div class="panel_title">
                          <h3>Attribute Info</h3>
                      </div>
                
                      <div class="clearfix"></div>
                
                        <div class="row edit_box">
                            <div class="col-sm-6 col-lg-4">
                            <div class="animate_form">
                                <input id="name" class="form-control" name="name" type="text" required="required" value="<%= arrData ? arrData.name : '' %>">
                              <span>Name<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4"> 
                            <div class="animate_form">
                                <input id="label" class="form-control" name="label" type="text" required="required" value="<%= arrData ? arrData.label : '' %>">
                              <span>Label<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="animate_form">
                                <select name="type" class="form-control" required="required">
                                  <option disabled selected value="">---Select Type---</option>
                                  <option <% if(arrData.type=='male'){ %>selected="selected" <% }%> value="male">Male</option>
                                  <option <% if(arrData.type=='female'){ %>selected="selected" <% }%> value="female">Female</option>
                                  <option <% if(arrData.type=='others'){ %>selected="selected" <% }%> value="others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4"> 
                            <div class="animate_form">
                                <input type="text" id="is_filterable" name="is_filterable" required="required" class="form-control col-md-7 col-xs-12" value="<%= arrData ? arrData.is_filterable : '' %>">
                                <span>Is Filteable<span>*</span></span>
                                <div class="alert_msg"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="animate_form">
                                <input type="text" id="is_required" name="is_required" required="required" class="form-control" value="<%= arrData ? arrData.is_required : '' %>">
                                <span>Is Required<span>*</span></span>
                                <div class="alert_msg"></div>
                            </div>
                        </div>
    
                        <div class="col-sm-6 col-lg-4">
                            <div class="animate_form">
                                <select name="status" class="form-control">
                                  <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                                  <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                                  <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option>
                                </select>
                            </div>
                        </div>

                      </div> 
                    </div>
                  
<% console.log("dadadadaaaaaaaaaaaaaaaaaaaadadaaddaaaaaaaaaaaaaaaaaaaaaaaaaaaaa");console.log(arrOption);
%>

                  <!-- Attribute Option-->
                  
                  
            <div class="content_body panel_body">

              <div class="panel_title">
                  <h3>Attribute Option</h3>
                  <button class="clone_trigger panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
              </div> 

                <div class="row">
                  <div class="col-sm-3">
                      <label class="control-label" for="optionValue">Value<span class="required"></span>
                      </label>
                  </div>

                  <div class="col-sm-3">
                      <label class="control-label" for="optionLabel">Label<span class="required"></span>
                      </label>
                  </div>
                  <div class="col-sm-3">
                      <label class="control-label" for="optionPosition">Position<span class="required"></span>
                      </label>
                </div>
                </div>
                  
        
        <% if(arrOption!='') {
        arrOption.forEach(function(val) { %>
      
        
            
              <div class="row clone" style="margin-bottom: 15px;">
           
                <div class="col-sm-3">
                    <input value="<%= val.label %>"   type="text" id="optionLabel" name="optionLabel" class="form-control" >
                </div>              
                <div class="col-sm-3">
                    <input type="text"  id="optionValue" name="optionValue" value="<%= val.value %>" class="form-control" >
                </div>

                <div class="col-sm-3">
                    <input type="number"  id="optionPosition" name="optionPosition" value="<%= val.position %>" class="form-control" >
                </div>
                <div class="col-sm-3">
                  <button class="remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
                
                  <input name="updateId" type="hidden" value="">
                
            </div>
      
          
         
          <% })
        }%>
          
                <div class="row clone" style="margin-bottom: 15px;">
                    <div class="col-sm-3">
                        <input name="optionLabel" value=""  type="text" id="optionLabel"  class="form-control" >
                    </div>
                    <div class="col-sm-3">
                        <input name="optionValue" type="text" id="optionValue"  value="" class="form-control" >
                    </div>
  
                     <div class="col-sm-3">
                        <input name="optionPosition" type="number" id="optionPosition"  value="" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <button class="remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                    </div>
                    <input name="updateId" type="hidden" value="">
                </div>
   
          
          <div class="placer"></div>
        </div>

      </div>

        <div class="btn_right mb-4">
            <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
            <button id="send" type="submit" class="submit_btn">Submit</button>
        </div>


                </form>
              </div>
        </div>
      </div>
</div>





<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>


  <script type="text/javascript">
        function PreviewprofilePicture() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("profilePicture").files[0]);
        oFReader.onload = function (oFREvent) {
        document.getElementById("profilePicturePreview").src = oFREvent.target.result;
        };
        };
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>
    

<script>
  $(document).ready(function(){
  $(".clone_trigger").click(function () {
      $('.clone').first().clone().insertBefore(".placer");
    $('input.cl:last').val('');
      event.preventDefault();
    });



$(document).on('click','.edit_remove_trigger',function () {
        
         //$(".editclone:last").remove();
         $(this).parents(".editclone").remove();
    
 });
     
    $(document).on('click','.remove_trigger',function () {
     
    if ($(".clone").length != 1) {
        
         $(".clone:last").remove();
          
    }
     
      event.preventDefault();
    });
        
    $('.remove_this_trigger').click(function () {
        if ($(".clone").length != 1) {
            //alert($(this).parent().parent().attr('class'));
            if(confirm("Are you sure you want to delete this?")){
                var el = $(this).parent().parent().parent().parent(); 
                if(el.prev("input[type=hidden]").val() != ''){
                    el.prev("input[type=hidden]").remove();
                }
                el.remove();
            }
            else{
                return false;
            }
        }
        //alert(el.attr('class'));
        //alert($(this).parent().parent().parent().parent().prev("input[type=hidden]").remove());
    });
});
</script>