<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<!-- page content -->
<div class="content_wraper">
	<div class="main_container">          
		<div class="header_wraper">
			<h2><%=title%></h2>
			<ul>
			<li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>coupon"></i> Coupon</a></li> 
            <li><%=title%></li>
			</ul>
		</div> 
		
		<% if(messages!='') {%>
		<div class="succ_msg msg" id="succ_msg">    
			<i class="fa fa-check"  aria-hidden="true"></i>        
			<%=messages%>
		</div>
		<%}%>                
		<% if(errors!='') {%>
		<div class="succ_err msg" id="err_msg">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
			<%=errors%>
		</div>
		<% }%> 


		<form id="category-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>sale_reports/list">
			<div class="content_body panel_body">
				<!-- <h3><%=messages%></h3> -->
				<div class="panel_title">
					<h3><%=title%> Info</h3>
				</div>												
				<div class="clearfix"></div>
				<!-- <ul class="nav nav-tabs custom_tab"> -->
					<!-- <li><a data-toggle="tab" href="#gen-info" class="active show">General Information</a></li> -->
					<!-- <!-- <li><a data-toggle="tab" href="#products">Products</a></li> --> 
				<!-- </ul> -->
				<div class="tab-content">
					<!--category content start-->
					<div id="gen-info" class="tab-pane fade in active show">
						<div class="row edit_box">

							

							<div class="col-sm-6"> 
								<div class="animate_form field">
									<input id="date_from" class="form-control"  name="date_from" type="text" value="<%= arrData ? arrData.date_from : '' %>">
									<span>Date From<span></span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
					
							<div class="col-sm-6"> 
								<div class="animate_form field">
									<input id="date_to" class="form-control" name="date_to" type="text" value="<%= arrData ? arrData.date_to : '' %>">
									<span>Date To<span></span></span>
									<!-- <div class="alert_msg"></div> -->
								</div>
							</div>

						</div>
					</div>
					<!--category content end-->
				</div>
			</div>
			<div class="btn_right mb-4">
				<input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
				<button id="send" type="submit" class="submit_btn">Submit</button>
			</div>
		</form>
		</div>
	</div>
</div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>

<%- include ../jqueryDatePicker/jquerydatepicker.html %>
<script>
// $("#special_price_from").each(function(){
//     var currentValue = $("#special_price_from").val();
//     if(currentValue)
//     $("#special_price_to").datepicker('setDate',new Date(currentValue));
// // });
$("#date_from","#date_to").keydown(function(event) {
  //alert(1)
  if(event.keyCode != 8){
    event.preventDefault();
  }
});
var dateToday = new Date();
var dates = $("#date_from, #date_to").datepicker({
  // defaultDate: "+1d",
  changeMonth: true,
  changeYear: true,
  dateFormat: 'yy-mm-dd',
//   minDate: dateToday,
	minDate: '',
  onSelect: function(selectedDate) {    
    console.log(this)
    var option = this.id.indexOf("date_from") != -1 ? "minDate" : "maxDate",
    instance = $(this).data("datepicker"),
    date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
    dates.not(this).datepicker("option", option, date);
  }
});
</script>

<script>
	function myFunction() {
		//alert(5454);
		var x = document.getElementById("coupon_type").value;
		//alert(x);
		document.getElementById("coupon_value").value = '';
	}
	</script>

	