<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       



<!-- CSS Styles -->
<style>
        .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
        .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
        .speech img {float: right; width: 40px }
      </style>
      
      
      
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
      
          <div class="header_wraper">
              <h2><%=title%></h2>
              <ul>
                  <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                  <li><h4><%=title%><small></small></h4></li>
              </ul>
          </div>

          
          <div class="content_body">
      <div class="table_heading">
        <h3>Manage <%=title%></h3>
        <form id="labnol" method="get" action="https://www.google.com/search">
        
          <div class="table_search">
                <div class="speech">
            <input type="text"  name="q" id="transcript" placeholder="Search Sub Category...">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
              </div>
          </div>
        </form>
         </div>

      <div class="table-responsive table_wraper">
        <table class="table">
            <thead>
                  <tr>
                      <th class="checkbox_cell">
                          <!-- <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label> -->
                          </th>
                          <th style="width:15px">Sl No</th>
                          <th>Image</th>
                          <th>Status</th>                          
                          <th>Action</th>
                         
                          <th>
                            <a href="<%= adminbaseurl %>banner/subcategory/addedit" class="add_btn"><span>+</span></a>
                           </th>
                      </tr>
                    </thead>
                  
                  <tbody>
                    <% var i=1;
                arrData.forEach(function(val) { %>	
                      <tr>
                        <td class="checkbox_cell">
                            <!-- <label class="checkbox Select"><input type="checkbox" class="checkSelect" value="<%= val.id %>"><span></span></label> -->
                        </td>
                        <td> <%= i %></td>
                      
                        <td >
                          <%
                          var banner_image_one = val.image ;
                          if(helper.isFileExists(banner_image_one)) banner_image_one = baseurl +"superpos/myimages/subcategory-banner/" + banner_image_one;
                          else banner_image_one = baseurl + "user_contents/no_image.jpg";
                          %>
                          <img src="<%= banner_image_one %>" height="50px"width="50px">
                        </td>
                        <td> <%= val.status %></td>
                        <td>
                            <a href="<%= adminbaseurl%>banner/subcategory/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                            <a href="<%= adminbaseurl%>banner/subcategory/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                     <% i++; }) %>
                    
                      
                       </tbody>
                      </table>
                  </div>
<!-- page content -->
<%- include ../partials/footer.html %>

