<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       



<!-- CSS Styles -->
<style>
        .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
        .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
        .speech img {float: right; width: 40px }
      </style>
      
      
      
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
      
          <div class="header_wraper">
              <h2><%=title%></h2>
              <ul>
                  <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                  <li><h4><%=title%><small></small></h4></li>
              </ul>
          </div>
          
          <div class="content_body">
      <div class="table_heading">
        <h3>Manage Customer Favourite</h3>
        <form id="labnol" method="get" action="https://www.google.com/search">
        
          <div class="table_search">
                <div class="speech">
            <input type="text"  name="q" id="transcript" placeholder="Search Customer...">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
              </div>
          </div>
        </form>
          <ul>
            <li>
                <span class="label_info">No item selected</span>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete Customer favourite" onclick="deleteCustomer_favourite()"><span class="fa fa-trash-o"></span></a>
              </li>
            <li>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Search Customer favourite" class="open_search"><span class="fa fa-search"></span></a>
              </li>
              <li data-toggle="tooltip" title="Show Entries">
                  <a href="javascript:void(0)" class="dropdown-toggle" id="show_entry" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-list-ul"></span></a>
                  <div class="dropdown-menu" aria-labelledby="show_entry">
                      <a class="dropdown-item" href="javascript:void(0)">10</a>
                      <a class="dropdown-item" href="javascript:void(0)">25</a>
                      <a class="dropdown-item" href="javascript:void(0)">50</a>
                      <a class="dropdown-item" href="javascript:void(0)">100</a>
                  </div>
              </li>
              <li>
                  <a href="javascript:void(0)" data-toggle="tooltip" title="Export All"><span class="fa fa-download"></span></a>
              </li>
          </ul>
      </div>

      <div class="table-responsive table_wraper">
        <table class="table">
            <thead>
                  <tr>
                      <th class="checkbox_cell">
                          <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label>
                          </th>
                          <!-- <th style="width:15px">Sl No</th> -->
                         
                          <th>Customer</th>
                          <th>Store</th>
                          <th>Action</th>
                          

                          <th>
                            <a href="<%= adminbaseurl %>customer_fav/addedit" class="add_btn"><span>+</span></a>
                           </th>
                      </tr>
                    </thead>


                    <tbody>
                      
                        <% var i=1;
                         arrData.forEach(function(val) { %>
	
                          <tr>
                              <td class="checkbox_cell">
                                  <label class="checkbox"><input type="checkbox" value="<%= val.id %>"><span></span></label>
                              </td>
                              <!-- <td> <%= i %></td> -->
                              <td><% arrCustomer.forEach(function(cus) {
                                if(cus.id==val.customer_id){ %>
                               <%= cus.name %>
                              <% } }); %></td>

                              <td><% arrStore.forEach(function(sto) {
                                if(sto.id==val.store_id){ %>
                               <%= sto.name %>
                              <% } }); %></td>
                              
                              <!-- <td> <%= val.customer_id %></td>
                               <td> <%= val.store_id %></td> -->
                              
                              
                              <td>
                                  <a href="<%= adminbaseurl%>customer_fav/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                                  <a href="<%= adminbaseurl%>customer_fav/delete/<%= val.id %>" class="edit_btn"><i class="fa fa-trash"></i></a>
                              </td>
                            </tr>
							            <% i++; }) %>
                        </tbody>
                      </table>
                  </div>
                  
                  <div class="pagination_sec">
                    <div class="table_info">Showing 1 to 10 of 23 entries</div>
                      <ul>
                        <li><a href="" class="disable">Previous</a></li>
                          <li><a href="" class="active">1</a></li>
                          <li><a href="">2</a></li>
                          <li><a href="">3</a></li>
                          <li><a href="">Next</a></li>
                      </ul>
                  </div>
                  
              </div>
              
          </div>
      </div>
    
<!-- page content -->
<%- include ../partials/footer.html %>

<script>
    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
  });
</script>

<script>
    $(document).ready(function(){
        var checkboxes = $('.checkbox input[type="checkbox"]'); 
        checkboxes.change(function(){
            var countCheckedCheckboxes = checkboxes.filter(':checked').length;
            if(countCheckedCheckboxes > 0){
                $('.label_info').text(countCheckedCheckboxes+' item(s) selected');
                
            }else{
                $('.label_info').text('No item selected');
            } 
        });
    });

    function deleteCategory() {  
        var chkArray = []; 
        /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
        $(".checkbox input:checked").each(function() {
        chkArray.push($(this).val());
        });
        console.log(chkArray)
            var categoryData = { 'check' :chkArray}

        $.ajax({ 
            url: "<%= apiurl %>categorymul/delete",
            type:'POST',
            data: categoryData,
            success:function(response){
                console.log(response)
                alert('')
                if(response.value==1) 
                window.location.reload();
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });  
    }
</script>




  <!-- HTML5 Speech Recognition API -->
  <script>
    function startDictation() {
  
      if (window.hasOwnProperty('webkitSpeechRecognition')) {
  
        var recognition = new webkitSpeechRecognition();
  
        recognition.continuous = false;
        recognition.interimResults = false;
  
        recognition.lang = "en-US";
        recognition.start();
  
        recognition.onresult = function(e) {
          document.getElementById('transcript').value
                                   = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('labnol').submit();
        };
  
        recognition.onerror = function(e) {
          recognition.stop();
        }
  
      }
    }
  </script>