   

<link href="<%= adminbaseurl %>build/css/bootstrap.min.css" rel="stylesheet">
<link href="<%= adminbaseurl %>build/css/style.css" rel="stylesheet">

<!-- CSS Styles -->
<style>
    .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
    .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
    .speech img {float: right; width: 40px }
    .report_table{ background: #fff; padding:15px; box-shadow: 0 1px 1px rgba(0,0,0,.1); margin: 20px 0;}
    .table_wraper table tr td{ font-size: 13px;padding: 12px 8px;border: 1px solid #d7e1ed;}
    .table_wraper table tr th{ font-size: 13px;padding: 12px 8px;border: 1px solid #d7e1ed;}
</style>
      
      
      
<!-- page content -->


<div class="container">
    <div class="report_table">
        <div class="table-responsive table_wraper">
            <table class="table">
                <% if(arrData && arrData !=''){  %>
                    <thead>
                        <tr>
                            <th class="checkbox_cell">
                            <!-- <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label> -->
                            </th>
                            <th style="width:15px">Sl No</th>
                            <th>Order Id</th>
                            <th>Customer Name</th>
                            <th>Customer Mobile</th>
                            <th>Order Date</th>
                            <th>Grand Total</th>
                            <th>Shipping Address</th>
                            <!-- <th>Status</th>
                            <th>Creater At</th> -->
                            <!-- <th>Action</th> -->
                            
                            <!-- <th>
                            <a href="<%= adminbaseurl %>banner/addedit" class="add_btn"><span>+</span></a>
                            </th> -->
                        </tr>
                    </thead>

                        
                    <tbody>
                        
                        <% var i=1;
                            arrData.forEach(function(val) { %>	

                            <tr>
                                <td class="checkbox_cell">
                                    <!-- <label class="checkbox Select"><input type="checkbox" class="checkSelect" value="<%= val.id %>"><span></span></label> -->
                                </td>
                                <td> <%= i %></td>
                                <td> <%= val.order_id %></td>
                                <td> <%= val.customer_name %></td>
                                <td> <%= val.customer_mobile %></td>
                                <td> <%= moment(val.createdAt).format('LL') %><br>
                                <span style="padding:2px; color:black; font-size: 15px"><%= moment(val.createdAt).format('HH:mm:ss') %><span>
                                </td> 
                                <td> <%= val.grand_total %></td>
                                <td style="white-space: pre-wrap;"> <%=  val.shipping_address %></td>
                                <!-- <td> <%= val.status %></td>
                                <td> <%= moment(val.createdAt).format( 'LL') %></td>  -->
                                
                                <!-- <td>
                                    <a href="<%= adminbaseurl%>banner/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                                    <a href="<%= adminbaseurl%>banner/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
                                </td> -->
                            </tr>
                        <% i++; }) %>
                    </tbody>
                <% }else{ %>
                    <p> No delivered report found on that date interval</p>
                <%  } %>
            </table>
        </div>

        <div style=" width: 110px; margin-left: auto; margin-right: auto; margin-top: 15px;">
            <button id="myPrntbtn" style=" margin: auto; padding: 10px;" onClick="window.print();">Print this page</button>
        </div>
    </div>        
</div>


<style type="text/css">
    @media print {
        #myPrntbtn {
            display :  none;
        }
    }
</style>
<script type="text/javascript">
    function printMyPage() {
        //Get the print button
        var printButton = document.getElementById("myPrntbtn");
        //Hide the print button 
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Show back the print button on web page 
        printButton.style.visibility = 'visible';
    }
</script>
                  