<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
<script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<!-- page content -->

<div class="content_wraper">
  <div class="main_container">
          
		<div class="header_wraper">
			<h2><%=title%></h2>
				<ul>
		<li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li>
		<li><a href="<%= adminbaseurl %>category">Category</a></li>
					<li><%=title%></li>
				</ul>
		</div>

		<% if(messages!='') {%>
		<div class="succ_msg msg" id="succ_msg">    
				<i class="fa fa-check"  aria-hidden="true"></i>        
				<%=messages%>
		</div>
		<%}%>                
		<% if(errors!='') {%>
		<div class="succ_err msg" id="err_msg">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
				<%=errors%>
		</div>
		<% }%>


  	<form id="category-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>category/add">
			<fieldset>
				<div class="content_body panel_body">

            <div class="panel_title">
              <h3>Category Info</h3>
            </div>
                
            <div class="clearfix"></div>
            <!-- <ul class="nav nav-tabs custom_tab">
              <li><a data-toggle="tab" href="#category" class="active show">Category</a></li>
             
            </ul> -->

        <div class="tab-content">

                    <!--category content start-->
          <div id="category" class="tab-pane fade in active show">

            <div class="row edit_box">

							<div class="col-sm-6"> 
								<div class="animate_form field">
										<!-- <span>Store ID<span>*</span><span> -->
											<!-- <select class="multipleselect" multiple="true" name="store_id" required="required"> -->
										<select name="store_id" class="form-control" required="required">
										<option value="">Select</option>
										<% 
										arrStore.forEach(function(val) { %>
							
										<option value="<%= val.id %>" <% if(val.id==arrData.store_id){%>selected="selected" <%} %>><%= val.name %></option>
										<%  }) %>
									</select>
									<!-- <style>
											.multipleselect{ width:100%;}
											.multipleselect option{padding: 1em;}
										  </style> -->
									<span>Store ID<span>*</span><span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="animate_form">
									<div class="field">
										<input id="title" class="form-control" name="title" type="text" required="required" value="<%= arrData ? arrData.title : '' %>">
										<span>Title<span>*</span></span>
										<!-- <div class="alert_msg"></div> -->
									</div>
								</div>
							</div>
														
							<div class="col-sm-6">
								<div class="animate_form field">
										<label>Description</label>
										<textarea rows="4" type="text" id="description" name="description"  class="form-control"><%= arrData ? arrData.description : '' %></textarea>
								
								</div>
							</div>
														
							<div class="col-sm-6" style="display: none"> 
								<div class="animate_form">
										<input id="parent_category_id" class="form-control" name="parent_category_id" type="number" required="required"   value="<%= arrData ? arrData.parent_category_id : '' %>">
										<span>Parent Category id</span>
									<div class="alert_msg"></div>
								</div>
							</div>
														
							<div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="position" class="form-control" name="position" type="number" required="required" value="<%= arrData ? arrData.position : '' %>">
										<span>Position<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
														
							<div class="col-sm-6" style="display: none"> 
								<div class="animate_form field">
										<input id="path" class="form-control" name="path" type="text" value="<%= arrData ? arrData.path : '' %>">
										<span>Path<span></span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
														
							<div class="col-sm-6" style="display: none"> 
								<div class="animate_form field">
										<input id="url" class="form-control" name="url" type="text" value="<%= arrData ? arrData.url : '' %>">
										<span>url<span></span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
														
							<div class="col-sm-6" style="display: none"> 
								<div class="animate_form field">
										<input id="product_count" class="form-control" name="product_count" type="text" value="<%= arrData ? arrData.product_count : '' %>">
										<span>Product Count<span></span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
														
							<div class="col-sm-6">
								<div class="animate_form field">
										<span>Include in Menu<span>*</span></span>
										<select name="include_in_menu" class="form-control">
											<option <% if(arrData.include_in_menu=='yes'){ %>selected="selected" <% }%> value="yes">YES</option>
											<option <% if(arrData.include_in_menu=='no'){ %>selected="selected" <% }%> value="no">NO</option>
											
										</select>
								</div>
							</div>
														
							<div class="col-sm-6" style="display: none"> 
								<div class="animate_form field">
										<input id="meta_title" class="form-control" name="meta_title" type="text" value="<%= arrData ? arrData.meta_title : '' %>">
										<span>Meta Title<span></span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
														
							<div class="col-sm-6" style="display: none"> 
								<div class="animate_form field">
										<input id="meta_key" class="form-control" name="meta_key" type="text" value="<%= arrData ? arrData.meta_key : '' %>">
										<span>Meta Key<span></span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
														
							<div class="col-sm-6" style="display: none"> 
								<div class="animate_form field">
										<textarea rows="4" type="text" id="meta_description" name="meta_description"  class="form-control"><%= arrData ? arrData.meta_description : '' %></textarea>
										<span>Meta Description<span></span></span>
									<div class="alert_msg"></div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="animate_form field">
										<span>Status<span></span></span>
										<select name="status" class="form-control">
											<option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
											<option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
											<!-- <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option> -->
										</select>
								</div>
							</div>
                       
            </div>
							
                      
							<div class="panel_title">
									<h3>Category Icon</h3>
							</div>
							<div class="imageupload">
								<div class="file-tab">
										<div class="">
													<i class="fa fa-upload" aria-hidden="true"></i>
													<span>Browse</span>
													<!-- The file is stored here. -->
													<!-- <input type="file" name="image-file"> -->
													<input type="file" id="image" name="image"  value="<%= arrData ? arrData.icon : '' %>"  class="file js-loadfile" onchange="PreviewImage();" accept="image/*" data-type='image' />
													<input id="uploadHiddenCropImage" name="uploadHiddenCropImage" value="" type="hidden">
										</div>
											<!-- <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> Remove</button> -->
									</div>
									<div class="row">
										<div id="cropperImageContainer" class="col-md-8">
											<img id="cropper" <% if(arrData){ if(arrData.icon==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%=baseurl%>superpos/myimages/<%= arrData.icon %>"<% } }else{ %> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% } %> alt="" style="display:none;">
										</div>
										<div class="imgpreview col-md-4">
											<img id="imagePreview" <% if(arrData){ if(arrData.icon==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%=baseurl%>superpos/myimages/<%= arrData.icon %>"<% } }else{ %> src=""<% } %>  />
											<input name="update_image" value="<%= arrData ? arrData.icon : '' %>" type="hidden">
										</div> 
								</div>
							</div>
                            
          </div>
                    <!--category content end-->

                  
                    
        </div>
				<div class="btn_right mb-4">
					<input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
					<button id="send" type="submit" class="submit_btn">Submit</button>
				</div>
			</fieldset> 
		</form>

  </div>
</div>
</div>


<script src="<%= adminbaseurl %>build/js/croppr.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>
<script src="<%= adminbaseurl %>validator-master/multifield.js"></script>
<script src="<%= adminbaseurl %>validator-master/validator.js"></script>

<script type="text/javascript">
var validator = new FormValidator({"events" : ['blur', 'input', 'change']}, document.forms[0]);
document.forms[0].onsubmit = function(e){
			var submit = true,
				validatorResult = validator.checkAll(this);

			console.log(validatorResult);
			return !!validatorResult.valid;
		};
  function PreviewImage() {

	var fileInput = document.getElementById('image');
      var filePath = fileInput.value;
      var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Please upload file having extensions .jpeg/.jpg/.png  only.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }


		var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("image").files[0]);
		oFReader.onload = function (oFREvent) {
			document.getElementById("imagePreview").src = oFREvent.target.result;
		};
	};

      // var imageData=null;
			// var fileParts = '';
			// var image_target = $('#cropper').get(0);
			// var after_cropped_target = $('#imagePreview').get(0);
			// var cropImageFile = '';
			
			// $('.js-loadfile').change(function(evt) {
			// 	var files = evt.target.files; // FileList object
			// 	var reader = new FileReader();

			// 	reader.onload = function(e) {
			// 	  imageData=reader.result;
			// 	  loadData();
			// 	}
			// 	fileParts = files[0].name.split('.');
			// 	reader.readAsDataURL(files[0]);
			// });
			
			// dataURLtoFile = function(dataurl, filename) {
			// 	var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
			// 		bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
			// 	while(n--){
			// 		u8arr[n] = bstr.charCodeAt(n);
			// 	}
			// 	return new File([u8arr], filename, {type:mime});
			// }; 
			
			// loadData = function() {
			// 	//set the image target
			// 	document.getElementById('cropperImageContainer').innerHTML = '<img id="cropper" src="" alt="" style="display:none;">';
				
			// 	image_target = $('#cropper').get(0);
			// 	image_target.src=imageData;
			// 	after_cropped_target.src=image_target.src;
			// 	var croppr = new Croppr('#cropper', {
			// 		aspectRatio: 1,
			// 		minSize: [88, 87, 'px'],
			// 		onInitialize: (instance) => { 
			// 			console.log(instance); 
			// 			var left = 129,
			// 			top =  0,
			// 			width = 768,
			// 			height = 768;
			// 			cropImage(left,top,width,height);
			// 		},
			// 		onCropStart: (data) => { 
			// 			//console.log('start', data);
			// 			//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
						
			// 		},
			// 		onCropEnd: (data) => {
			// 			console.log(data);
			// 			var left = data.x,
			// 			top =  data.y,
			// 			width = data.width,
			// 			height = data.height;
			// 			cropImage(left,top,width,height);
			// 		},
			// 		onCropMove: (data) => { 
			// 			//console.log('move', data); 
			// 			//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
			// 		}
			// 	});
				
			// 	//croppr.destroy();
			// };
			
			// cropImage = function(left,top,width,height){
			// 	//alert("Test");
			// 	var image_target = $('.croppr-image').get(0);
			// 	var after_cropped_target = $('#imagePreview').get(0);
			// 	var crop_canvas;
					
			// 	crop_canvas = document.createElement('canvas');
			// 	crop_canvas.width = width;
			// 	crop_canvas.height = height;
				
			// 	crop_canvas.getContext('2d').drawImage(image_target, left, top, width, height, 0, 0, width, height);
			// 	var dataURL=crop_canvas.toDataURL("image/png");
			// 	after_cropped_target.src=dataURL;
			// 	var imageCropped64Image = dataURL;
				
			// 	var d = new Date();
			// 	var n = d.getTime();
				
			// 	var basefile = fileParts[0]+ '_' + n;
			// 	var ext = fileParts[1];
				
			// 	//var ext = imageCropped64Image.split(';')[0].match(/jpeg|png|gif/)[0];
			// 	var mime = imageCropped64Image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
			// 	var mimeType = '';
			// 	if (mime && mime.length) {
			// 	mimeType = mime[1];
			// 	}
				
			// 	document.getElementById('uploadHiddenCropImage').value = basefile+'.'+ext;
			// 	cropImageFile = this.dataURLtoFile(imageCropped64Image, basefile+'.'+ext)
			// };
			
			$('#category-info').on('submit', function(e){
				var form = document.getElementById('category-info');
				var formData = new FormData();


				// //var formData = new FormData(form);
				// formData.append('image', cropImageFile);

				// var xhr = new XMLHttpRequest();
				// xhr.onreadystatechange = function(result) {
				// 	if (this.readyState == 4 && this.status == 200) {
				// 		document.getElementById('cropperImageContainer').innerHTML = '';
				// 		//window.scrollTo(0, 0);
				//    }
				// };
				// // Add any event handlers here...
				// xhr.open('POST', '<%= adminbaseurl %>category/fileupload', true);
				// xhr.send(formData);



				if(document.getElementById("image").files && document.getElementById("image").files.length > 0){
          console.log(document.getElementById("image").files[0]);
          // e.preventDefault();
          formData.append('image', document.getElementById("image").files[0]);
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function(result) {
            if (this.readyState == 4 && this.status == 200) {
              // document.getElementById('cropperImageContainer').innerHTML = '';
              //window.scrollTo(0, 0);
            }
          };
          // Add any event handlers here...
          //xhr.open('POST', '/api/v1/banner/fileupload', true);
          xhr.open('POST', '<%= adminbaseurl %>category/fileupload', true);
          xhr.send(formData);
        }



			});
////////////////////////////////code end////////////////////////////////
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>

<script>            
    CKEDITOR.editorConfig = function (config) {
       config.language = 'es';
       config.uiColor = '#F7B42C';
       config.height = 300;
       config.toolbarCanCollapse = true;
   
   };
	 CKEDITOR.replace('description');
	 CKEDITOR.replace('meta_description');
</script>




<script>
   $("#checkAll").click(function () {
     $('input:checkbox').not(this).prop('checked', this.checked);
 });
</script>