<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>

<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<script src="<%= adminbaseurl %>ckeditor/ckeditor.js"></script>

<!-- page content -->

<div class="content_wraper">
  <div class="main_container">        
    <div class="header_wraper">
      <h2><%=title ? title : ''%></h2>
      <ul>
        <li><a href="<%= adminbaseurl %>dashboards">Dashboards</a></li>
        <li><a href="<%= adminbaseurl %>order">Order</a></li>		  
        <li><%=title ? title : ''%></li>
      </ul>
    </div>
    
    <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg">    
        <i class="fa fa-check"  aria-hidden="true"></i>        
        <%=messages%>
      </div>
      <%}%>                
      <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
        <%=errors%>
      </div>
      <% }%>

    <form id="Order-info" class="form-horizontal form-label-left" novalidate method="post" action="<%= adminbaseurl %>order/add">
      <fieldset>
        <div class="content_body panel_body">
          <div class="panel_title">
            <h3>Order Info</h3>
          </div>                
          <div class="clearfix"></div>
          <!-- <ul class="nav nav-tabs custom_tab"> -->
          <!-- <li><a data-toggle="tab" href="#order" class="active show">Order</a></li> -->
          <!-- </ul> -->
          <div class="tab-content">
            <!--category content start-->
            <div id="order" class="tab-pane fade in active show">
              <div class="row edit_box">

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <% if(arrData.customer_name =''){ %>

                      <input id="customer_mobile" class="form-control" name="customer_mobile" type="text" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)" required="required" value="<%= arrData ? arrData.customer_mobile : '' %>">
                     <% }else{ %>
                      <input id="customer_mobile" class="form-control" name="customer_mobile" type="text" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)" required="required" value="<%= arrData ? arrData.customer_mobile : '' %>" disabled="disabled">
                    <% } %>
                      <span>Customer Mobile<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
                
                

               

                
                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <% if(arrData.customer_name =''){ %>
                    <input id="customer_name" class="form-control" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" name="customer_name" type="text" required="required" value="<%= arrData && arrData.customer_name && arrData.customer_name!='' ? arrData.customer_name : arrData.customerName %>">
                    <% }else{ %>
                      <input id="customer_name" class="form-control" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" name="customer_name" type="text" required="required" value="<%= arrData && arrData.customer_name && arrData.customer_name!='' ? arrData.customer_name : arrData.customerName %>" disabled="disabled">
                    <% } %>
                    <span>Customer Name<span></span></span>
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <% if(arrData.customer_email =''){ %>
                    <input id="customer_email" class="form-control" name="customer_email" type="email"  onkeyup="this.value=this.value.replace(/[ ]/g,'');"  required="required" value="<%= arrData && arrData.customer_email && arrData.customer_email!='' ? arrData.customer_email : arrData.customerEmail %>">
                    <% }else{ %>
                      <input id="customer_email" class="form-control" name="customer_email" type="email"  onkeyup="this.value=this.value.replace(/[ ]/g,'');"  required="required" value="<%= arrData && arrData.customer_email && arrData.customer_email!='' ? arrData.customer_email : arrData.customerEmail %>"disabled="disabled">
                    <% } %>
                      <span>Customer Email<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">                      
                    <select name="store" class="form-control">
                      <option value="" selected disabled>--Select Store--</option>
                      <% if(arrStore) arrStore.forEach(function(val) { %>                
                      <option value="<%= val.id %>" <% if(val.id==arrData.store_id){%>selected="selected" <%} %>><%= val.name %></option>
                      <%  }) %>
                    </select>
                    <span>Stores<span>
                  </div>                   
                </div>
                  
                <div class="col-sm-6">
                  <div class="animate_form field">
                    <span>Order Status<span>
                    <select name="order_status" class="form-control">
                      <option value="" selected disabled>--Select Order Status--</option>                      
                      <% if(arrOrderStatus)  arrOrderStatus.forEach(function(val) { %>                
                      <option value="<%= val.optionValue %>" <% if(val.optionValue==arrData.order_status){%>selected="selected" <%} %>><%= val.optionLabel %></option>
                      <%  }) %>
                    </select>
                  </div>
                </div>
                  
                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="shipping_method" class="form-control" name="shipping_method" type="text" required="required" value="<%= arrData ? arrData.shipping_method : '' %>">
                    <span>Shipping Method<span></span></span>
                  </div>
                </div> -->

                <div class="col-sm-6">
                  <div class="animate_form field">
                    <span>Shipping Method<span>
                    <select name="shipping_method" class="form-control" required>
                      <option value="" selected disabled>--Select Shipping Method--</option>                      
                      <% if(arrShippingMethod) arrShippingMethod.forEach(function(shippingM) { %>                
                      <option value="<%= shippingM.optionLabel %>" <% if(shippingM.optionLabel==arrData.shipping_method){%>selected="selected" <%} %>><%= shippingM.optionLabel %></option>
                      <%  }) %>
                    </select>
                  </div>
                </div>
                
                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="shipping_description" class="form-control" name="shipping_description" type="text" value="<%= arrData ? arrData.shipping_description : '' %>">
                    <span>Shipping Description<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="animate_form field">
                    <span>Payment Method<span>
                    <select name="payment_method" class="form-control" >
                      <option value="" selected disabled>--Select Payment Method--</option>                      
                      <% if(arrPaymentMethod) arrPaymentMethod.forEach(function(PaymentM) { %>                
                      <option value="<%= PaymentM.optionLabel %>" <% if(PaymentM.optionLabel==arrData.payment_method){%>selected="selected" <%} %>><%= PaymentM.optionLabel %></option>
                      <%  }) %>
                    </select>
                  </div>
                </div>

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="payment_method" class="form-control" name="payment_method" type="text"

                      <% if(arrData && arrData.wallet_amount!='' && arrData.wallet_amount!= null){%>
                        <% if(arrData.payment_method!='' && arrData.payment_method!= null){%>
                          value="Wallet & <%= arrData ? arrData.payment_method : '' %>"
                        <% }else{ %>
                          value="Wallet"
                        <% } %>
                      <% }else{ %>
                        value="<%= arrData ? arrData.payment_method : '' %>"
                      <% } %>
                     >
                     
                    <span>Payment Method<span></span></span>
                  </div>
                </div>                -->
                
                
                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="coupon_code" class="form-control" name="coupon_code" type="text" value="<%= arrData ? arrData.coupon_code : '' %>">
                    <span>Coupon Code<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="animate_form field">
                    <select name="salesman_id" class="form-control">
                        <option value="" disabled selected>--Select Salesman--</option>
                      <%  if(arrSalesman) arrSalesman.forEach(function(val) { %>
                        <option value="<%= val.id %>" <% if(val.id==arrData.salesman_id){%>selected="selected" <%} %>><%= val.name %></option>
                      <%  }) %>
                    </select>
                    <span>Salesman<span>
                  </div> 	
                </div>

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="discount_percent" class="form-control" name="discount_percent" type="text" required="required" value="<%= arrData ? arrData.discount_percent : '' %>">
                    <span>Discount Percent<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="discount_amount" class="form-control" name="discount_amount" type="text" required="required" value="<%= arrData ? arrData.discount_amount : '' %>">
                    <span>Discount Amount<span></span></span>                    
                  </div>
                </div>-->

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="base_grand_total" class="form-control" name="base_grand_total" type="text" required="required" value="<%= arrData ? arrData.base_grand_total : '' %>">
                    <span>Base Grand Total<span></span></span>                    
                  </div>
                </div> -->

               <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="cgst" class="form-control" name="cgst" type="text" required="required" value="<%= arrData ? arrData.cgst : '' %>">
                    <span>CGST<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="sgst" class="form-control" name="sgst" type="text" required="required" value="<%= arrData ? arrData.sgst : '' %>">
                    <span>SGST<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="igst" class="form-control" name="igst" type="text" required="required" value="<%= arrData ? arrData.igst : '' %>">
                    <span>IGST<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="total_tax" class="form-control" name="total_tax" type="text" required="required" value="<%= arrData ? arrData.total_tax : '' %>">
                    <span>Total Tax<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="grand_total" class="form-control" name="grand_total" type="text" required="required" value="<%= arrData ? arrData.grand_total : '' %>">
                    <span>Grand Total<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="amount_paid" class="form-control" name="amount_paid" type="text" required="required" value="<%= arrData ? arrData.amount_paid : '' %>">
                    <span>Amount Paid<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="promotion" class="form-control" name="promotion" type="text"  value="<%= arrData ? arrData.promotion : '' %>">
                    <span>Promotion<span></span></span>                    
                  </div>
                </div>                 -->

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="street1" class="form-control" name="street1" type="text"  value="<%= arrData ? arrData.street1 : '' %>"disabled="disabled">
                    <span>Street 1<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="street2" class="form-control" name="street2" type="text"  value="<%= arrData ? arrData.street2 : '' %>"disabled="disabled">
                    <span>Street 2<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="city" class="form-control" name="city" type="text"  value="<%= arrData ? arrData.city : '' %>"disabled="disabled">
                    <span>Customer City<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
      
                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="state" class="form-control" name="state" type="text"  value="<%= arrData ? arrData.state : '' %>"disabled="disabled">
                    <span>Customer State<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="pin" class="form-control" name="pin" type="text"  value="<%= arrData ? arrData.pin : '' %>"disabled="disabled">
                    <span>Customer Pin<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>              

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <% if(arrData.customer_name =''){ %>
                      <input id="country" class="form-control" name="country" type="text"  value="<%= arrData ? arrData.country : '' %>">
                    <% }else{ %>
                      <input id="country" class="form-control" name="country" type="text"  value="<%= arrData ? arrData.country : '' %>"disabled ="disabled">
                    <% } %>
                    <span>Customer Country<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="lat" class="form-control" name="lat" type="text"  value="<%= arrData ? arrData.lat : '' %>">
                    <span>Customer lat<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  <!-- </div>
                </div> --> 

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="long" class="form-control" name="long" type="text"  value="<%= arrData ? arrData.long : '' %>">
                    <span>Customer long<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  <!-- </div>
                </div> --> 

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="gift_message" class="form-control" name="gift_message" type="text"  value="<%= arrData ? arrData.gift_message : '' %>">
                    <span>Gift Message<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  <!-- </div>
                </div> --> 

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="remote_ip" class="form-control" name="remote_ip" type="text"  value="<%= arrData ? arrData.remote_ip : '' %>">
                    <span>Remote IP<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  <!-- </div>
                </div> --> 

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                  <input id="medium" class="form-control" name="medium" type="text"  value="<%= arrData ? arrData.medium : '' %>">
                  <span>Medium<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  <!-- </div>
                </div> -->

                <!-- <div class="col-sm-6">
                  <div class="animate_form field">
                    <select name="delivery_time_slot_id" class="form-control" required="required">
                        <option value="" disabled selected>--Select Time Slot--</option>
                      <%  if(arrTimeSlot) arrTimeSlot.forEach(function(time) { %>
                        <option value="<%= time.id %>" <% if(time.id==arrData.delivery_time_slot_id){%>selected="selected" <%} %>><%= time.from_time %> - <%= time.to_time %></option>
                      <%  }) %>
                    </select>
                    <span>Delivery Time Slot<span>
                  </div> 	
                </div> -->

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="delivery_time_slot" class="form-control" name="delivery_time_slot" type="text"  value="<%= arrData ? arrData.delivery_time_slot : '' %>">
                    <span>Delivery Time Slot<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <!-- <div class="col-sm-6">
                  <div class="animate_form field">
                    <select name="category" class="form-control" id="category" >
                      <option value="" disabled selected>--Select Category--</option>
                      <%  if(arrCategory) arrCategory.forEach(function(cat) { %>
                      <option value="<%= cat.id %>" ><%= cat.title %></option>
                      <%  }) %>
                    </select>
                    <span>Category<span>
                  </div> 	
                </div> -->

                <div class="col-sm-6" id="subcategorySection" style="display: none;">
                  <div class="animate_form field">
                    <select name="subcategory" class="form-control" id="subcategory">
                      <option value="" disabled selected>--Select Subcategory--</option>                      
                    </select>
                    <span>Subcategory<span>
                  </div> 	
                </div>

                <div class="col-sm-6" id="productSection" style="display: none;">
                  <div class="animate_form field">
                    <select name="product" class="form-control" id="product" required="required">
                      <option value="" disabled selected>--Select Product--</option>                      
                    </select>
                    <span>Product<span>
                  </div> 	
                </div>                
                
              </div>     
              <% if(arrOrderItems && arrOrderItems!=''){%>
              <div class="row">
                <div class="col-lg-12">                    
                </div>    
                <div class="col-lg-12">
                  <div class="content_body booking_summary">
                    <div class="panel_title">
                      <h3>Order Summary</h3>
                    </div>
                    <div class="table-responsive table_wraper">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <!-- <th>Tax</th> -->
                            <th>Sales total</th>
                            <!-- <th>Discount percentage</th>
                            <th>Discount amount</th>
                            <th>Total</th> 
                            <th style="width: 48px;">&nbsp;</th> -->
                          </tr>
                        </thead>
                        <tbody id="itemContent">
                          <% var i=1; 
                          var subtotal = 0;
                          arrOrderItems.forEach(function(item) { 
                          subtotal += item.qty && item.original_price ? item.qty*item.original_price : 0;
                          %>	
                          <tr>
                            <input name="name_id"  id="name_id" type="hidden"  value="<%= item.name%>">
                            <td class="item"><h5><span class=""><%= item.name ? item.name : ''%></span></h5><input name="product_id[]" id="product_id" type="hidden"  value="<%= item.product_id%>"></td>
                            <td><input name="qty" type="number" style="width:50px" class="qty_<%=i;%> " min="0" value="<%= item.qty ? item.qty : ''%>"> </td>
                            <td><i class="fa fa-inr"></i><input name="price" type="number" class="price_<%=i;%> " min="0" value="<%= item.original_price ? item.original_price : ''%>"></td>
                            <td><i class="fa fa-inr"></i><input disabled name="sales_total" type="number" class="result_<%=i;%>" value="<%= item.qty && item.original_price ? item.qty*item.original_price : ''%>"></td>      
                            <!-- <td><input name="discount_percentage" type="number"  value=""></td>
                            <td><i class="fa fa-inr"></i><input name="discount_amount" type="number"  value=""></td>
                            <td><i class="fa fa-inr"></i><input disabled name="total" type="number"  value=""></td>       -->
                            <!-- <td><a href="javascript:void(0);" class="close_item" id="">×</a></td> -->
                          </tr>
                          <% i++; }) %>
                        </tbody>
                      </table>
                    </div>
                    <div class="order_total">
                      <ul>
                        <li>
                          <span>Subtotal Price</span>
                          <h5><i class="fa fa-inr"></i><span class="span_sub_total"><%= subtotal ? subtotal.toFixed(2) : 0%></span></h5>
                        </li>


                        
                          <li>
                              <!-- <span>Shipping Charges</span> -->
                              <span>Shipping Amount</span>
                              <h5><i class="fa fa-inr"></i><span class="span_shipping"><%= arrData ? arrData.shipping_amount : 0 %></span></h5>
                            </li>
                          </li>


                        <!-- <% if(arrData && arrData.shipping_amount!='' && arrData.shipping_amount!= null){%>
                        <li> -->
                            <!-- <span>Shipping Charges</span> -->
                            <!-- <span><%= arrData ? arrData.shipping_method : '' %></span>
                            <h5><i class="fa fa-inr"></i><%= arrData ? arrData.shipping_amount : 0 %></h5>
                          </li>
                          <% } %> --> 
                        <!-- <li>
                          <span>Taxes</span>
                          <h5><i class="fa fa-inr"></i>20</h5>
                        </li>
                        <li>
                          <span>Discount</span>
                          <h5>- <i class="fa fa-inr"></i>50</h5>
                        </li>
                        <li>
                          <span>Delivery Charges</span>
                          <h5><i class="fa fa-inr"></i>40</h5>
                        </li> -->
                        <% 
                        var total = 0;
                        if(arrData && arrData.shipping_amount!='' && arrData.shipping_amount!= null){
                          total = subtotal + Number(arrData.shipping_amount);
                        }else{
                          total = subtotal;
                        }
                        %>
                        <li class="total">
                          <span>Total Price</span>
                          <h5><i class="fa fa-inr"></i><span class="span_total"><%= total ? total.toFixed(2) : 0%></span></h5>
                        </li>
                        <% if(arrData && arrData.coupon_amount!='' && arrData.coupon_amount!= null){%>
                        <li class="">
                          <span>Coupon Amount</span>
                          <h5><i class="fa fa-inr"></i><%= arrData ? arrData.coupon_amount : 0 %></h5>
                        </li>
                        <% } %>
                        <% if(arrData && arrData.wallet_amount!='' && arrData.wallet_amount!= null){%>
                       
                          <li class="">
                          <span>Wallet Amount</span>
                          <h5><i class="fa fa-inr"><%= arrData ? arrData.wallet_amount : 0 %></i></h5>
                        </li>
                        <% } %>
                        <% if(arrData.payment_method != 'Cash On Delivery'){%>
                        <li class="">
                          <span>Amount Paid</span>
                         
                          <h5><i class="fa fa-inr"></i><span class=""><%=  arrData ? arrData.amount_paid : 0%></span></h5>
                        </li>
                        <li class="">
                          <span>Due Amount</span>
                         
                          <h5><i class="fa fa-inr"></i><span class="span_amount_total"><%=  0%></span></h5>
                        </li>
                           <% }else{%>
                            <li class="">
                            <span>Due Amount </span>
                           
                            <h5><i class="fa fa-inr"></i><span class="span_amount"><%=  arrData ? arrData.amount_paid : 0%></span></h5>
                            
                          </li>
                          <% } %>
                      </ul>
                    </div>
                  </div>
                  <!-- <div class="btn_right mb-4">
                    <button type="submit" class="submit_btn">Submit</button>
                  </div> -->
                </div>    
              </div>  
              <%  } %>
              <!-- shipping address start -->

              <div class="row">
                <div class="col-lg-12">
                  <div class="content_body booking_summary">
                    <div class="panel_title">
                      <h3>Shipping Address</h3>
                    </div>

                    <!-- <p style="font-weight: bold;"> <%= arrData ? arrData.shipping_address : '' %></p>  -->
                    <p style="font-size:150%;"> <%= arrData ? arrData.shipping_address : '' %></p> 
                   
                  </div>
                </div>    
              </div>

              

              <!-- shipping address end -->
            </div>
            <!--category content end-->  
          </div>
          <!-- <p>Date: <input type="text" id="datepicker"></p>  -->
          <div class="btn_right mb-4">
            <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
            <input type="hidden" name="is_customer" value="0">
            <input type="hidden" name="is_customer_id" value=""> 
            <input type="hidden" id="shipping_amount" name="shipping_amount" value="<%= arrData ? arrData.shipping_amount : '0' %>">
            <input type="hidden" id="payment_method" name="payment_method" value="<%= arrData ? arrData.payment_method : '0' %>">
            <input type="hidden" id="coupon_amount" name="coupon_amount" value="<%= arrData ? arrData.coupon_amount : '0' %>">
            <input type="hidden" id="wallet_amount" name="wallet_amount" value="<%= arrData ? arrData.wallet_amount : '0' %>">    
            <input type="hidden" id="base_grand_total" name="base_grand_total" value="<%=subtotal ? subtotal.toFixed(2) : 0 %>"> 
            <input type="hidden" id="base_total" name="base_total" value="<%=subtotal ? subtotal.toFixed(2) : 0 %>"> 
            <input type="hidden" id="amount_paid_total" name="amount_paid_total" value="<%=  arrData ? arrData.amount_paid : 0%>">
            <input type="hidden" id="amount_total" name="amount_total" value="<%=  arrData ? arrData.amount_paid : 0%>">
            <input type="hidden" id="page_number" name="page_number" value="<%= page %>"> 
            <div class="order_status_class"> 
              <button id="send" type="submit" class="submit_btn">Update</button>
              <a target="_blank" class="invoice_download" href="<%= adminbaseurl%>order/otgInvoice/<%= arrData.id%>" class="edit_btn"><i class="fa fa-download"></i></a>
            </div>
        </div>
      </fieldset>
    </form>    
  </div>  
</div>

<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>
<%- include ../jqueryDatePicker/jquerydatepicker.html %>
<!-- <script>
  // $( function() {
    $( "#datepicker" ).datepicker({
      // defaultDate: "+1d",
      dateFormat: 'yy-mm-dd',
      numberOfMonths: 1,
      // showButtonPanel: true,
      minDate: 0 // minDate: '0' would work too
    });    
  // } );
  
  var currentValue = $("#datepicker").val();

  if(currentValue && currentValue!=''){
    $("#datepicker").datepicker('setDate',new Date(currentValue));
  }else{
    // alert(1)
    $("#datepicker").datepicker('setDate','today');
  } 

  $("#datepicker").keydown(function(event) {
    if(event.keyCode != 8){
      event.preventDefault();
    }
  });
  
</script> -->
<script type="text/javascript">
  $(document).ready(function(){    
    $('input[name=customer_mobile]').on('input',function(e){
      console.log(e.target.value)
      // alert(2)
      if(e.target.value && e.target.value !=''){
        if(e.target.value.length > 9){
          $.ajax({
            url: "<%= apiurl%>customerBymobile/"+e.target.value,
            type: "get",
            // data: $("input[name=customer_mobile]").serialize()
          })
          .done( function( json ) {
            console.log(json)
            if(json.data.success){
              console.log(json.data.value)
              $('input[name=customer_name]').val(json.data.value.name);
              $('input[name=customer_email]').val(json.data.value.email);
              $('input[name=city]').val(json.data.value.city); 
              $('input[name=is_customer]').val(1); 
              $('input[name=is_customer_id]').val(json.data.value.id); 
              console.log($('input[name=is_customer_id]').val());                       
            }else{
              $('input[name=is_customer]').val(0); 
              $('input[name=is_customer_id]').val(''); 
              console.log($('input[name=is_customer]').val());
              $('input[name=customer_name]').val('');
              $('input[name=customer_email]').val('');
              $('input[name=city]').val(''); 
            }
          })
          .fail( function( xhr, status, errorThrown ) {
              // alert( "Sorry, there was a problem! " + errorThrown );
              console.log( "Error: " + errorThrown );
              console.log( "Status: " + status );
              console.dir( xhr );
          })
          .always( function( xhr, status ) {
            //  alert( "The request is complete!" );
          });
        }else{
          $('input[name=is_customer]').val(0); 
          $('input[name=is_customer_id]').val('');
          console.log($('input[name=is_customer_id]').val()); 
        }       
      }        
    });
    // $('#category').on('change',function(e){
    //   alert(e.target.value)
    //   if(e.target.value && e.target.value !=''){
    //     $.ajax({
    //       url: "<%= apiurl%>product_Subcat_Bycategory/"+e.target.value,
    //       type: "get",
    //     })
    //     .done( function( json ) {
    //       console.log(json)
    //       if(json.data.success){
    //         // console.log(json.data.product);
    //         if(json.data.product && json.data.product.length > 0){
    //           $("#productSection").show();
    //           $("#product").empty();
    //           var productHtml = "<option value='' disabled selected>--Select Product--</option>";
    //           json.data.product.forEach(elem => {
    //             productHtml+= "<option value='"+elem.id+"' data-type='"+elem.type+"' data-price='"+elem.price+"' >"+elem.title+"</option>"
    //           });                
    //           $("#product").append(productHtml);
    //         }else{
    //           $("#productSection").hide();
    //         }

    //         // if(json.data.subcategory && json.data.subcategory.length > 0){
    //         //   $("#subcategorySection").show();
    //         //   $("#subcategory").empty();
    //         //   var subcatHtml = "<option value='' disabled selected>--Select Subcategory--</option>";
    //         //   json.data.subcategory.forEach(element => {
    //         //     subcatHtml+= "<option value='"+element.id+"' >"+element.title+"</option>"
    //         //   });                
    //         //   $("#subcategory").append(subcatHtml);
    //         // }else{
    //         //   $("#subcategorySection").hide();
    //         // }
    //         // console.log(json.data.subcategory);                                   
    //       }else{
    //         console.log('json.data.product');
    //         console.log('json.data.subcategory'); 
    //       }
    //     })
    //     .fail( function( xhr, status, errorThrown ) {
    //       // alert( "Sorry, there was a problem! " + errorThrown );
    //       $("#subcategory").empty();
    //       $("#product").empty();
    //       $("#subcategory").append("<option value='' disabled selected>--Select Subcategory--</option>");
    //       $("#product").append("<option value='' disabled selected>--Select Product--</option>");
    //       $("#subcategorySection").hide();
    //       $("#productSection").hide();
    //       console.log( "Error: " + errorThrown );
    //       console.log( "Status: " + status );
    //       console.dir( xhr );
    //     })
    //     .always( function( xhr, status ) {
    //       alert( "The request is complete!" );
    //     });
    //   }        
    // });
    // $('#product').on('change',function(e){     
    //   if(e.target.value && e.target.value !=''){
    //     // alert(e.target.value)
    //     if($(".item"+e.target.value).length > 0){
    //       alert('product already exists');
    //     }else{
    //       // console.log($("#product option[value="+e.target.value+"]").attr('data-type'));
    //       var type = $("#product option[value="+e.target.value+"]").attr('data-type') ? $("#product option[value="+e.target.value+"]").attr('data-type') : '';
    //       var price = $("#product option[value="+e.target.value+"]").attr('data-price') ? $("#product option[value="+e.target.value+"]").attr('data-price') : '';
    //       var item = $("#product option[value="+e.target.value+"]").text() ? $("#product option[value="+e.target.value+"]").text() : '';
    //       var className = '';
    //       if(type!='' && type == 'Veg'){
    //         className = "indicator veg";
    //       }else if(type!='' && type == 'Nonveg'){  
    //         className = "indicator nonveg";
    //       }
    //       var itemHtml='<tr>'+
    //         '<td class="item'+e.target.value+'"><h5><span class="'+className+'"></span>'+item+'</h5><input name="product_id"  id="product_id_'+e.target.value+'" type="hidden"  value="'+e.target.value+'"></td>'+
    //         '<td><input name="qty" type="number" style="width:50px" value="1"> </td>'+
    //         '<td><i class="fa fa-inr"></i><input name="price" type="number"  value="'+price+'"></td>'+
    //         '<td><i class="fa fa-inr"></i><input disabled name="sales_total" type="number"  value="'+parseFloat(price)*1+'"></td>'+         
    //         '<td><input name="discount_percentage" type="number"  value=""></td>'+
    //         '<td><i class="fa fa-inr"></i><input name="discount_amount" type="number"  value=""></td>'+
    //         '<td><i class="fa fa-inr"></i><input disabled name="total" type="number"  value="'+parseFloat(price)*1+'"></td>'+         
    //         '<td><a href="javascript:void(0);" class="close_item" id="'+e.target.value+'">×</a></td>'
    //       $('#itemContent').append(itemHtml); 
    //     }              
    //   }
    // });
    // /////////////////////////////////Delete Products from order lists//////////////////////////
    // $(document).on('click','.close_item',function (event) {
    //   console.log($(this).attr('id'));
    //   console.log(parseInt($(this).attr('id')))
    //   // $("#product option[value="+$(this).attr('id')+"]").removeAttr('selected');
    //   if($("select#product option[value='"+$(this).attr('id')+"']").length > 0){
    //     $("#product").find("option[value='"+$(this).attr('id')+"']").attr("selectd",false);
    //     $("select#product").prop('selectedIndex', 0);
    //   }      
    //   $(this).parents('tr').remove();     
    //   console.log(event);
    //   event.preventDefault();
    // });      
  });
</script>
<script>
  $("#checkAll").click(function () {
    $('input:checkbox').not(this).prop('checked', this.checked);
  });
</script>
<script type="text/javascript">
  function blockChar(e){
      var k;
      document.all ? k = e.keyCode : k = e.which;
      return (k >= 48 && k <= 57);
      }
  </script>
<script>
$(document).on('change','[name="qty"]', function() {
  var cls = $(this).attr("class");
  cls = cls.split("_"); 
  // alert(cls + "----" + cls[1]);
  var qty = $(this).val();
  var price = $(".price_"+cls[1]).val();
  var total = qty * price;
  $(".result_"+cls[1]).val(total);
  var base_grand_total = 0;
  $("[name='sales_total']").each(function() {
    console.log($(this).val());
    base_grand_total += parseFloat($(this).val());
  });
  var wallet_amount = 0;
  $("[name='wallet_amount']").each(function() {
    wallet_amount += parseFloat($(this).val());
  });
  var coupon_amount = 0;
  $("[name='coupon_amount']").each(function() {
    coupon_amount += parseFloat($(this).val());
  });

  var amount_total = 0;
  $("[name='amount_total']").each(function() {
    amount_total += parseFloat($(this).val());
  });

  var shipping_amount = $("#shipping_amount").val();
 

  if(shipping_amount == 40) {
    base_grand_total = base_grand_total + 40;
  } else{
    if(base_grand_total >= 300){
      shipping_amount = 0;
      $("#shipping_amount").val(shipping_amount);
      $(".span_shipping").html(shipping_amount);
    } else {
      base_grand_total = base_grand_total + 15;
      shipping_amount = 15;
      $("#shipping_amount").val(shipping_amount);
      $(".span_shipping").html(shipping_amount);
    }
  }




  if(wallet_amount>0 && coupon_amount>0){
      var ammount = base_grand_total-wallet_amount-coupon_amount;
        $(".span_amount").html(ammount);
        $(".span_amount_total").html(ammount-amount_total);
        $("#amount_paid_total").val(ammount);
    }else if(wallet_amount>0){
          var ammount = base_grand_total-wallet_amount;
            $(".span_amount").html(ammount);
            $(".span_amount_total").html(ammount-amount_total);
            $("#amount_paid_total").val(ammount);
        }else if(coupon_amount>0){
                var ammount = base_grand_total-coupon_amount;
                  $(".span_amount").html(ammount);
                  $(".span_amount_total").html(ammount-amount_total);
                  $("#amount_paid_total").val(ammount);
                }else{
                    var ammount = base_grand_total;
                        $(".span_amount").html(ammount);
                        $(".span_amount_total").html(ammount-amount_total);
                        $("#amount_paid_total").val(ammount);
                  }
               


  $("#base_total").val(base_grand_total);
  $(".span_total").html(base_grand_total);
  $("#base_grand_total").val(base_grand_total - shipping_amount);
  $(".span_sub_total").html(base_grand_total - shipping_amount);



});

$(document).on('change','[name="price"]', function() {
  var cls = $(this).attr("class");
  cls = cls.split("_"); 
  //alert(cls + "----" + cls[1]);
  var price = $(this).val();
  var qty = $(".qty_"+cls[1]).val();
  var total = price *qty;
  var base_grand_total = 0;
  $(".result_"+cls[1]).val(total);
  $("[name='sales_total']").each(function() {
    console.log($(this).val());
    base_grand_total += parseFloat($(this).val());
  });

  var wallet_amount = 0;
  $("[name='wallet_amount']").each(function() {
    wallet_amount += parseFloat($(this).val());
  });
  var coupon_amount = 0;
  $("[name='coupon_amount']").each(function() {
    coupon_amount += parseFloat($(this).val());
  });
  var amount_total = 0;
  $("[name='amount_total']").each(function() {
    amount_total += parseFloat($(this).val());
  });

  var shipping_amount = $("#shipping_amount").val();

  if(shipping_amount == 40) {
    base_grand_total = base_grand_total + 40;
  } else{
    if(base_grand_total >= 300){
      shipping_amount = 0;
      $("#shipping_amount").val(shipping_amount);
      $(".span_shipping").html(shipping_amount);
    } else {
      base_grand_total = base_grand_total + 15;
      shipping_amount = 15;
      $("#shipping_amount").val(shipping_amount);
      $(".span_shipping").html(shipping_amount);
    }
  }

  
 
 
 
 
  
  if(wallet_amount>0 && coupon_amount>0){
      var ammount = base_grand_total-wallet_amount-coupon_amount;
        $(".span_amount").html(ammount);
        $(".span_amount_total").html(ammount-amount_total);
        $("#amount_paid_total").val(ammount);
    }else if(wallet_amount>0){
          var ammount = base_grand_total-wallet_amount;
            $(".span_amount").html(ammount);
            $(".span_amount_total").html(ammount-amount_total);
            $("#amount_paid_total").val(ammount);
        }else if(coupon_amount>0){
                var ammount = base_grand_total-coupon_amount;
                  $(".span_amount").html(ammount);
                  $(".span_amount_total").html(ammount-amount_total);
                  $("#amount_paid_total").val(ammount);
                }else{
                    var ammount = base_grand_total;
                        $(".span_amount").html(ammount);
                        $(".span_amount_total").html(ammount-amount_total);
                        $("#amount_paid_total").val(ammount);
                  }
              

               
  $("#base_total").val(base_grand_total);
  $(".span_total").html(base_grand_total);
  $("#base_grand_total").val(base_grand_total - shipping_amount);
  $(".span_sub_total").html(base_grand_total-shipping_amount);



});
</script>
  
<script>
  $('.order_status_class').change(function(){
      var orderId = $(this).find('option:selected').attr('order_id');
      var statusData = $(this).find('option:selected').val();
      //$('#ownership').val(optionSelected);
      var previousStatus = $(this).prev().text();
      // console.log($(this).prev().text());
      // alert($(this).closest( ".status" ).text())
      // alert(statusData)
      //alert($(this).find('option:selected').val())
      //console.log($(this).find('option:selected').val());
      var answer = confirm ("Are you sure you want to change the status?");
      if(answer){
          $.ajax({ 
              url: "<%= adminbaseurl %>order/StatusChange/"+orderId+'/'+statusData,
              type:'GET',
              //data: adminData,
              success:function(response){
                  console.log(response)       
                  // alert($("#searchResultForm").attr("action"));
                  var refreshedUrl = $("#searchResultForm").attr("action");
                  window.location.href(refreshedUrl)  
                  // window.location.reload();            
              },
              error: function (e) {
                  console.log("ERROR : ", e);
              }
          });  
          //window.location.reload(); 
      }else{
          // alert(previousStatus)
          $(this).find("option[value="+previousStatus+"]").prop('selected', 'selected').change();
      }
  });
      // var counter = 30;
      // // The countdown method.
      // window.setInterval(function () {
      //     counter--;
      //     if (counter >= 0) {
      //         var span;
      //         span = document.getElementById("cnt");
      //         span.innerHTML = "This page will be refreshed after "+counter+" seconds";
      //     }
      //     if (counter === 0) {
      //         clearInterval(counter);
      //     }
  
      // }, 1000);
  
      // window.setInterval('refresh()', 30000);
  
      // Refresh or reload page.
      // function refresh() {        
      //     // alert($("#searchResultForm").attr("action"));
      //     //var refreshedUrl = $("#searchResultForm").attr("action");
      //     window.location.href = window.location.href;
      //     // window.location.reload();
      // }
  
  </script>