<html>

<head>
    <meta charset='UTF-8'>
    
    <title>OTG Invoice</title>
    
    <link href="<%= adminbaseurl %>build/css/otg_invoice_style.css" rel="stylesheet">
    <script src="<%= adminbaseurl %>build/js/jquery.min.js"></script>
    <script src="<%= adminbaseurl %>build/js/otg_example.js"></script>

    <!-- <link rel='stylesheet' href='css/style.css'> -->
    <!-- <link rel='stylesheet' href='css/print.css' media="print"> -->
    <!-- <script src='js/jquery-1.3.2.min.js'></script> -->
    <!-- <script src='js/example.js'></script> -->

</head>

<body>

	<div id="page-wrap">

		<textarea id="header">INVOICE</textarea>
		
		<div id="" style="display:flex;">
		
            <div readonly id="address" style="min-width: 200px;" >
                <h3>Customer Details</h3>
                <!-- <h4><%= arrOrder.customer_email %></h4>
                <h4><%= arrOrder.customer_mobile %></h4>
                <h4><%= arrOrder.address %></h4>
                <h4><%= arrOrder.city %> <%= arrOrder.pin %> <%= arrOrder.country %></h4>
                <h4><%= arrOrder.country %></h4> -->
                <%  if(arrOrder.customer_name !=null && arrOrder.customer_name !=''){ %>
                    <%= arrOrder.customer_name %><br>
                <%  } %>
                <%  if(arrOrder.customer_email !=null && arrOrder.customer_email !=''){ %>
                    <%= arrOrder.customer_email %><br>
                <%  } %>
                    <%  if(arrOrder.customer_mobile !=null && arrOrder.customer_mobile !=''){ %>
                    <%= arrOrder.customer_mobile %><br>
                <%  } %>
                    <%  if(arrOrder.address !=null && arrOrder.address !=''){ %>
                    <%= arrOrder.address %><br>
                <%  } %>
                <%  if(arrOrder.city !=null && arrOrder.city !=''){ %>
                    <%= arrOrder.city %> 
                <%  } %>
                <%  if(arrOrder.pin !=null && arrOrder.pin !=''){ %>    
                    <%= arrOrder.pin %> 
                <%  } %>
                <%  if(arrOrder.country !=null && arrOrder.country !=''){ %>
                    <%= arrOrder.country %><br>
                <%  } %>
               
                
            </div>
            <div style=" padding: 0 20px;">
                <img src="<%= adminbaseurl %>images/logo.png" alt="" style="max-width:100%;">
            </div>
            <div style="min-width: 200px;text-align: right;">
                <h3>Shipping Address</h3>
                <p style="word-wrap: normal;max-width: 200px;"><%= arrOrder.shipping_address %></p>
            </div>
            
		
		</div>
		
		<div style="clear:both"></div>
		
		<div id="customer">

            <!-- <div>
                <h3>Shipping Address</h3>
                <p style="word-wrap: normal;max-width: 200px;"><%= arrOrder.shipping_address %></p>
            </div> -->

            <table id="meta">
                <tr>
                    <td class="meta-head">Order Id </td>
                    <td>#<%= arrOrder.order_id %></td>
                </tr>
                <tr>

                    <td class="meta-head">Date & Time</td>
                    <td><%= moment(arrOrder.createdAt).format('MM/DD/YYYY HH:mm:ss'); %></td>
                </tr>
                <!-- <tr>
                    <td class="meta-head">Amount Due</td>
                    <td><div class="due"><%= arrOrder.grand_total %></div></td>
                </tr> -->

            </table>
		
		</div>
		
		<table id="items">
		
		  <tr>
		      <th>Product</th>
		      <!-- <th>Description</th> -->
		      <th width="15%">Rate</th>
		      <th width="15%">Quantity</th>
		      <th width="15%">Gross Amount</th>
		  </tr>
          
          <% var i= 1;
          arrOrderItem.forEach(function(val) { %>	
		  <tr class="item-row">
              <%  if(val.productWeight !=null && val.productWeight!= ''){ %>
              <td class="item-name"><div class="delete-wpr"><%= val.name %> - <%= val.productWeight %></div></td>
              <%  } else{ %>
                <td class="item-name"><div class="delete-wpr"><%= val.name %></div></td>
              <%  } %>
		      <!-- <td class="description">500</td> -->
		      <td><%= val.original_price %></td>
		      <td><%= val.qty %></td>
		      <td><span class="price"><%= val.qty * val.original_price %></span></td>
          </tr>
          
          <% i++; }) %>
		  
		  <!-- <tr class="item-row">
		      <td class="item-name"><div class="delete-wpr"><textarea>SSL Renewals</textarea></div></td>

		      <td class="description"><textarea>Yearly renewals of SSL certificates on main domain and several subdomains</textarea></td>
		      <td><textarea class="cost">$75.00</textarea></td>
		      <td><textarea class="qty">3</textarea></td>
		      <td><span class="price">$225.00</span></td>
		  </tr> -->
		  
		  <!-- <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Subtotal</td>
		      <td class="total-value"><div id="subtotal">$875.00</div></td>
		  </tr> -->
		  <tr>

		      <td colspan="1" class="blank"> </td>
		      <td colspan="2" class="total-line">Total</td>
		      <td class="total-value"><div id="total"><%= arrOrder.base_grand_total %></div></td>
          </tr>
          <%  if(arrOrder.shipping_amount !=null && arrOrder.shipping_amount !=''){ %>
		  <tr>
		      <td colspan="1" class="blank"> </td>
		      <td colspan="2" class="total-line">Shipping Charges</td>

		      <td class="total-value"><%= arrOrder.shipping_amount %></td>
          </tr>
          <%  }else{ %>
            <tr>
                <td colspan="1" class="blank"> </td>
                <td colspan="2" class="total-line">Shipping Charges</td>
    
                <td class="total-value">0.00</td>
            </tr>
            <%  } %>
		  <tr>
		      <td colspan="1" class="blank"> </td>
		      <td colspan="2" class="total-line balance">Grand Total</td>
		      <td class="total-value balance"><div class="due"><%= arrOrder.grand_total %></div></td>
          </tr>
          
          <%  if(arrOrder.discount_amount !=null && arrOrder.discount_amount !=''){ %>
          <tr>
            <td colspan="1" class="blank"> </td>
            <td colspan="2" class="total-line balance">You Saved</td>

            <td class="total-value balance"><%= arrOrder.discount_amount %></td>
        </tr>
        <%  } %>
		
		</table>
        
		<!-- <div id="terms">
		  <h5>Terms</h5>
		  <textarea>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
		</div> -->
        
    </div>
    <div style=" width: 110px; margin-left: auto; margin-right: auto; margin-top: 15px;">
        <button id="myPrntbtn" style=" margin: auto; padding: 10px;" onclick="window.print();">Print this page</button>
    </div>
    
    
   
</body>

</html>

<!-- <script>
    function myFunction() {
        window.print();
    }
</script> -->

<style type="text/css">
@media print {
    #myPrntbtn {
        display :  none;
    }
}
</style>
<script type="text/javascript">
    function printMyPage() {
        //Get the print button
        var printButton = document.getElementById("myPrntbtn");
        //Hide the print button 
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Show back the print button on web page 
        printButton.style.visibility = 'visible';
    }
</script>