<html>

<head>
    <meta charset='UTF-8'>
    
    <title>OTG Invoice</title>
    
    <link href="<%= adminbaseurl %>build/css/otg_invoice_style.css" rel="stylesheet">
    <script src="<%= adminbaseurl %>build/js/jquery.min.js"></script>
    <script src="<%= adminbaseurl %>build/js/otg_example.js"></script>

    <!-- <link rel='stylesheet' href='css/style.css'> -->
    <!-- <link rel='stylesheet' href='css/print.css' media="print"> -->
    <!-- <script src='js/jquery-1.3.2.min.js'></script> -->
    <!-- <script src='js/example.js'></script> -->


 <style>
 #address1{height:auto !important; padding-bottom: 5px;}
 </style>   

</head>
<body>

	<div id="page-wrap">

		<textarea id="header">INVOICE</textarea>
		
		<div id="" style="display:flex;">
		
            <div readonly id="address" class="address-sec"  >
                <h3>Company Details</h3>
                <!-- <h4><%= arrOrder.customer_email %></h4>
                <h4><%= arrOrder.customer_mobile %></h4>
                <h4><%= arrOrder.address %></h4>
                <h4><%= arrOrder.city %> <%= arrOrder.pin %> <%= arrOrder.country %></h4>
                <h4><%= arrOrder.country %></h4> -->

                <h4>SSQUARE DIGITAL MARKETING PRIVATE LIMITED</h4>
                <p>Tantigeria, Iswarpur, Midnapore, W.B. 721102, 090144 57573</p>
               
                
            </div>
        
        
		
		</div>
		
		<div style="clear:both"></div>
		
		<div id="customer">
            <div readonly="" id="address1" style="min-width: 130px;">
                <!-- <h3>Shipping Address</h3> -->
                <h3>Customer Address</h3>
                <%= arrOrder.shipping_address.replace(/;/g, " "); %>
                <!-- <h4>tapan.barik@gmail.com</h4>
                <h4>9876543210</h4>
                <h4>Station Road</h4>
                <h4>Midnapore 721101 India</h4>
                <h4>India</h4> -->
                
                <!-- <h3>Customer Details</h3>
                <%  if(arrOrder.customer_first_name !=null && arrOrder.customer_first_name !=''){ %>
                    <%= arrOrder.customer_first_name %> <%= arrOrder.customer_last_name %><br>
                <%  } %>
                <%  if(arrOrder.customer_email !=null && arrOrder.customer_email !=''){ %>
                    <%= arrOrder.customer_email %><br>
                <%  }else if(arrOrder.customerEmail !=null && arrOrder.customerEmail !=''){ %>
                    <%= arrOrder.customerEmail %><br>
                <%  } %>
                <%  if(arrOrder.customer_mobile !=null && arrOrder.customer_mobile !=''){ %>
                    <%= arrOrder.customer_mobile %><br>
                <%  } %>
                <%  if(arrOrder.address !=null && arrOrder.address !=''){ %>
                    <%= arrOrder.address %><br>
                <%  } %>
                <%  if(arrOrder.city !=null && arrOrder.city !=''){ %>
                    <%= arrOrder.city %> 
                <%  } %>
                <%  if(arrOrder.pin !=null && arrOrder.pin !=''){ %>    
                    <%= arrOrder.pin %> 
                <%  } %>
                <%  if(arrOrder.country !=null && arrOrder.country !=''){ %>
                    <%= arrOrder.country %><br>
                <%  } %> -->
                
               
                
            </div>
            <!-- <div>
                <h3>Shipping Address</h3>
                <p style="word-wrap: normal;max-width: 200px;"><%= arrOrder.shipping_address %></p>
            </div> -->

            <table id="meta">
                <tr>
                    <td class="meta-head"><b>Order Id</b> </td>
                    <td>#<%= arrOrder.order_id %></td>
                </tr>
                <tr>

                    <td class="meta-head"><b>Date & Time</b></td>
                    <td><%= moment(arrOrder.createdAt).format('MM/DD/YYYY HH:mm:ss'); %></td>
                </tr>
                <!-- <tr>
                    <td class="meta-head">Amount Due</td>
                    <td><div class="due"><%= arrOrder.grand_total %></div></td>
                </tr> -->

            </table>
		
		</div>
		
		<table id="items" style="margin: 0">
		
		  <tr>
		      <th width="40%" align="left">Name of Product
                  <!-- <span>HSN CODE</span></th> -->
		      <!-- <th>Description</th> -->
		      <th width="20%">QtY</th>
              <th width="20%">Rate</th>
              <!-- <th width="15%">Dis</th> -->
		      <th width="20%">Gross Amount</th>
          </tr>
          <!-- <tr>
                <th>SAREE-5208
                    <span>5208</span></th>
                <!- - <th>Description</th> - ->
                <th width="15%">1</th>
                <th width="15%">300</th>
                <th width="15%">0.00</th>
                <th width="15%"> 300</th>
            </tr> -->
          
          <% var i= 1;
          arrOrderItem.forEach(function(val) { %>	
		  <tr class="item-row">
              <%  if(val.productWeight !=null && val.productWeight!= ''){ %>
              <td class="item-name" style="text-align: left"><div class="delete-wpr"><%= val.name %> - <%= val.productWeight %></div></td>
              <%  } else{ %>
                <td class="item-name" style="text-align: left"><div class="delete-wpr"><%= val.name %></div></td>
              <%  } %>
              <!-- <td class="description">500</td> -->
              <td><%= val.qty %></td>
		      <td><%= val.original_price %></td>
		      
		      <td><span class="price"><%= val.qty * val.original_price %></span></td>
          </tr>
          <% i++; }) %>
		  
		  <!-- <tr class="item-row">
		      <td class="item-name"><div class="delete-wpr"><textarea>SSL Renewals</textarea></div></td>

		      <td class="description"><textarea>Yearly renewals of SSL certificates on main domain and several subdomains</textarea></td>
		      <td><textarea class="cost">$75.00</textarea></td>
		      <td><textarea class="qty">3</textarea></td>
		      <td><span class="price">$225.00</span></td>
		  </tr> -->
		  
		  <!-- <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Subtotal</td>
		      <td class="total-value"><div id="subtotal">$875.00</div></td>
          </tr> -->
          <tr>
              <td colspan="5" style="border: 0;"><div style="border-top: 1px dotted #000"></div></td>
          </tr>
		  <tr>

              <td colspan="1" class="totel-product" style=" border:none; font-size: 14px;">
              <table width="100%">
                <tr>
                 <td style="font-size: 13px;">Total Item</td>    
                </tr>
                <tr><td style="font-size: 13px;"><%=arrorderproduct %></td></tr>
            </table>
               </td>
             <td colspan="" class="blank" style=" border:none; font-size: 14px;"><div id="total-product">
                <table width="100%">
                    <tr>
                     <td style="font-size: 13px;">Total QTY</td>    
                    </tr>
                    <tr><td style="font-size: 13px;"><%=totalqty%></td></tr>
                </table>
                   </td>
              <td colspan="" class="total-line" style=" border:none; font-size: 14px;">
                <table width="100%">
                    <tr>
                     <td style="font-size: 13px;"> Total</tdstyle="font-size: 13px;">    
                    </tr>
                    <tr><td style="font-size: 13px;"><%= arrOrder.base_grand_total %></td></tr>
                </table>
                
                <!-- Total=<%=' '%><%= arrOrder.base_grand_total %></td> -->
		      <!-- <td class="total-value" style=" border:none;"><div id="total"><%= arrOrder.base_grand_total %></div></td> -->
          </tr>
          <%  if(arrOrder.shipping_amount !=null && arrOrder.shipping_amount !=''){ %>
		  <tr>
		      <td colspan="1" class="blank" style=" border:none; font-size: 14px;"> </td>
		      <td colspan="2" class="total-line" style=" border:none; font-size: 14px;">Shipping Charges</td>

		      <td class="total-value" style=" border:none;"><%= arrOrder.shipping_amount %></td>
          </tr>
          <%  }else{ %>
            <tr>
                <td colspan="1" class="blank" style=" border:none; font-size: 14px;"> </td>
                <td colspan="2" class="total-line" style=" border:none; font-size: 14px;">Shipping Charges</td>
    
                <td class="total-value" style=" border:none;">0.00</td>
            </tr>
            <%  } %>
		  <tr>
		      <td colspan="1" class="blank" style=" border:none;"> </td>
		      <td colspan="2" class="total-line balance" style="font-size: 14px;">Grand Total</td>
		      <td class="total-value balance" style="font-size: 14px;" ><div class="due"><%= arrOrder.grand_total %></div></td>
          </tr>
          
        

        <%  if(arrOrder.coupon_amount !=null && arrOrder.coupon_amount !='' && arrOrder.coupon_amount != 0.00){ %>
            <tr>
                <td colspan="1" class="blank"> </td> 
                <td colspan="2" class="total-line balance" style="font-size: 14px;">Coupon Amount</td>
    
                <td class="total-value balance" style="font-size: 14px;"><%= arrOrder.coupon_amount %></td>
            </tr>
        <%  } %>

        <%  if(arrOrder.wallet_amount !=null && arrOrder.wallet_amount !='' && arrOrder.wallet_amount != 0.00){ %>
            <tr>
                <td colspan="1" class="blank"> </td> 
                <td colspan="2" class="total-line balance" style="font-size: 14px;">Wallet Amount</td>
    
                <td class="total-value balance" style="font-size: 14px;"><%= arrOrder.wallet_amount %></td>
            </tr>
        <%  } %>

        <%  if(arrOrder.amount_paid !=null && arrOrder.amount_paid !='' && arrOrder.amount_paid != 0.00){ %>
            <tr>
                <td colspan="1" class="blank"> </td> 
                <td colspan="2" class="total-line balance" style="font-size: 14px;">Payable Amount</td>

                <td class="total-value balance" style="font-size: 14px;"><%= arrOrder.amount_paid %></td>
            </tr>
        <%  } %>

        <%  if(arrOrder.discount_amount !=null && arrOrder.discount_amount !='' && arrOrder.discount_amount != 0.00){ %>
            <tr>
                <td colspan="1" class="blank"> </td> 
                <td colspan="2" class="total-line balance" style="font-size: 14px;">You Saved</td>

                <td class="total-value balance" style="font-size: 14px;"><%= arrOrder.discount_amount %></td>
            </tr>
        <%  } %>
		
		</table>
        
		<!-- <div id="terms">
		  <h5>Terms</h5>
		  <textarea>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
		</div> -->
        
    </div>
    <div style=" width: 110px; margin-left: auto; margin-right: auto; margin-top: 15px;">
        <button id="myPrntbtn" style=" margin: auto; padding: 10px;" onClick="window.print();">Print this page</button>
    </div>
    
    
   
</body>

</html>

<!-- <script>
    function myFunction() {
        window.print();
    }
</script> -->

<style type="text/css">
@media print {
    #myPrntbtn {
        display :  none;
    }
}
</style>
</style>>
<script type="text/javascript">
    function printMyPage() {
        //Get the print button
        var printButton = document.getElementById("myPrntbtn");
        //Hide the print button 
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Show back the print button on web page 
        printButton.style.visibility = 'visible';
    }
</script>