<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>
<!-- page content -->


<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboards">Dashboards</a></li>
            <li><%=title%></li>
          </ul>
      </div>

      <form class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= apiurl %>profile/add">
        <div class="content_body panel_body">

              
          <div class="panel_title">
              <h3 style="text-align: center; color: #f00;"><%=message%></h3>
            <h3>Your Profile Info</h3>
          </div>
    
          <div class="clearfix"></div>
        
          <div class="row edit_box">

            <div class="col-sm-6"> 
              <div class="animate_form field">
                  <input id="firstName" class="form-control" name="firstName" type="text" required="required" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" value="<%= arrData ? arrData.firstName : '' %>">
                <span>First Name<span>*</span></span>
                <div class="alert_msg"></div>
              </div>
            </div>

            <div class="col-sm-6"> 
              <div class="animate_form field">
                  <input id="lastName" class="form-control" name="lastName" type="text" required="required" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" value="<%= arrData ? arrData.lastName : '' %>">
                <span>Last Name<span>*</span></span>
                <div class="alert_msg"></div>
              </div>
            </div>

            <div class="col-sm-6"> 
                <div class="animate_form field">
                    <input type="email" id="email" name="email" required="required" readonly class="form-control" onkeyup="this.value=this.value.replace(/[ ]/g,'');" value="<%= arrData ? arrData.email : '' %>">
                  <span>Email<span>*</span></span>
                  <div class="alert_msg"></div>
                </div>
            </div>
            
            <div class="col-sm-6"> 
                <div class="animate_form field">
                    <input type="text" id="phone" name="phone" required="required" readonly class="form-control" value="<%= arrData ? arrData.phone : '' %>">
                  <span>Phone No<span>*</span></span>
                  <div class="alert_msg"></div>
                </div>
            </div>
             
            <div class="col-sm-6" style="display: none"> 
                <div class="animate_form field">
                    <input id="username" class="form-control"  name="username" type="text" required="required" value="<%= arrData ? arrData.username : '' %>">
                  <span>User Name<span>*</span></span>
                  <div class="alert_msg"></div>
                </div>
            </div>

            <div class="col-sm-6 " style="display: none"> 
              <div class="animate_form field">
                <input id="ip" class="form-control" name="ip" type="text" 
                pattern="^(([1-9]?\d|1\d\d|2[0-5][0-5]|2[0-4]\d)\.){3}([1-9]?\d|1\d\d|2[0-5][0-5]|2[0-4]\d)$" value="<%= arrData ? arrData.ip : '' %>">
                <span>IP</span>
                <div class="alert_msg"></div>
              </div>
            </div>  


            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input id="oldpassword" type="password" name="oldPassword" maxlength="10" placeholder="Password must be 6-10 Character"
                 data-validate-length-range="6,10"  class="form-control" required="required" >
                <span>Old Password <span>*</span></span>
                <div class="alert_msg"></div>
              </div>
            </div>  


            <div class="col-sm-6"> 
                <div class="animate_form field">
                  <input id="password" type="password" name="password" maxlength="10" onkeyup="this.value=this.value.replace(/[ ]/g,'');" placeholder="Password must be 6-10 Character"
                    data-validate-length-range="6,10"  class="form-control" required="required" >
                  <span>Set New Password <span>*</span></span>
                  <div class="alert_msg"></div>
                </div>
            </div>    

              
           
                
             
            <div class="col-sm-6"> 
              <div class="animate_form field">
                <input id="confirmPassword" type="password" name="confirmPassword" maxlength="10" placeholder="Password must be 6-10 Character"
                  data-validate-length-range="6,10"  class="form-control" required="required" >
                <span>Confirm Password<span>*</span></span>
                <div class="alert_msg"></div>
              </div>
            </div> 


          </div>
        </div>
          <div class="btn_right mb-4">
            <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
            <input name="user_id" value="<%= usercreatedBy ? usercreatedBy : '' %>" type="hidden" >
            <button id="send" type="submit" class="submit_btn" onclick="return Validate()">Submit</button>
          </div>
      </form>
    </div>
  </div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<script type="text/javascript">
  function Validate() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;
      //console.log(password);
      //console.log(confirmPassword);

      if (password != confirmPassword) {
          alert("Passwords do not match.");
          return false;
      }
      return true;
  }
</script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>

  <script type="text/javascript">
        function PreviewprofilePicture() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("profilePicture").files[0]);
        oFReader.onload = function (oFREvent) {
        document.getElementById("profilePicturePreview").src = oFREvent.target.result;
        };
        };
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>
<script type="text/javascript">
  function validatePassword()
  {
  var a = document.getElementById("password").value;
  //alert(a.length);
  if ((a.length < 6) || (a.length > 10))
  {
  alert("Your Password must be 6 to 10 Character");
  return false;
  }else{
    return true;
  }
}
  </script>
