<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>
<!-- page content -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>admin/list" >Admin User</a></li>
            <li><%=title%></li>
          </ul>
      </div>

        <form class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= apiurl %>admin/add">
            <div class="content_body panel_body">

              <div class="panel_title">
                  <h3>Profile Info</h3>
              </div>
        
              <div class="clearfix"></div>
        
                <div class="row edit_box">
                  <div class="col-sm-6"> 
                    <div class="animate_form field">
                        <input id="name" class="form-control" name="name" type="text" required="required" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" value="<%= arrData ? arrData.name : '' %>">
                      <span>Name<span>*</span></span>
                      <div class="alert_msg"></div>
                    </div>
                  </div>
                  <div class="col-sm-6"> 
                      <div class="animate_form field">
                          <input type="email" id="email" name="email" required="required" onkeyup="this.value=this.value.replace(/[ ]/g,'');"  class="form-control" pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" value="<%= arrData ? arrData.email : '' %>">
                        <span>Email<span>*</span></span>
                        <div class="alert_msg"></div>
                      </div>
                  </div>    
              <!-- <div class="item form-group field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                </label>
                  <% if (arrData.email != null) {%>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="email" id="email" name="email" required="required"  class="form-control col-md-7 col-xs-12" pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" value="<%= arrData ? arrData.email : '' %>">
                </div>
                <% } else {%>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12" value="<%= arrData ? arrData.email : '' %>">
                </div>
                <%  } %>
              </div> -->
              <div class="col-sm-6"> 
                  <div class="animate_form field">
                      <input id="username" class="form-control"  name="username" type="text" required="required" value="<%= arrData ? arrData.username : '' %>">
                    <span>User Name<span>*</span></span>
                    <div class="alert_msg"></div>
                  </div>
              </div>
              <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="password" type="password" name="password" placeholder="Password must be 6-10 digits" maxlength="10" onblur="validatePassword();" onkeyup="this.value=this.value.replace(/[ ]/g,'');"  class="form-control" required="required" value="<%= arrData ? arrData.password : '' %>">
                    <span>Password<span>*</span></span>
                    <div class="alert_msg"></div>
                  </div>
              </div>    
              
              
              
              <div class="col-sm-6 col-lg-4"> 
                  <div class="animate_form field ">
                    <select name="role" id="role" class="form-control" required="required">
                      <option disabled selected value="">---Select Role---</option>
                        <% arrRoles.forEach(function(role) { %>
                          <option <% if(arrData.role==role.id){ %> selected="selected" <% }%>  value="<%=role.id%>" ><%=role.name%></option>
                          
                        <% }) %>
                    </select>
                    <span>Roles<span>*</span></span>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4"> 
                  <div class="animate_form">
                    <select name="status" class="form-control">
                      <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                      <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                    </select>
                    <span>Status</span>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4"> 
                  <div class="animate_form">
                    <input id="ip" class="form-control" name="ip" type="text"   value="<%= arrData ? arrData.ip : '' %>">
                    <span>IP</span>
                    
                  </div>
              </div>    
              
              </div>
            </div>
              <div  class="btn_right mb-4">
                <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
                <input name="user_id" value="<%= usercreatedBy ? usercreatedBy : '' %>" type="hidden">
                <button id="send"  type="submit"  class="submit_btn">Submit</button>
               
            </div>
        </form>
    </div>
  </div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>


  <script type="text/javascript">
        function PreviewprofilePicture() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("profilePicture").files[0]);
        oFReader.onload = function (oFREvent) {
        document.getElementById("profilePicturePreview").src = oFREvent.target.result;
        };
        };
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>
<!-- <script type="text/javascript">
  function  blockother(e){
      var k;
      document.all ? k = e.keyCode : k = e.which;
      return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 32);
      }
  </script> -->

<script type="text/javascript">
  function validatePassword()
  {
  var a = document.getElementById("password").value;
  //alert(a.length);
  if ((a.length < 6) || (a.length > 10))
  {
  alert("Your Password must be 6 to 10 Character");
  return false;
  }else{
    return true;
  }
}
  </script>
    
