<%- include ../partials/sidebar.html %>       
<%- include ../partials/header.html %>
<!-- page content -->

<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
<script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>


<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
			<li><a href="<%= adminbaseurl %>notification">Notification</a></li>
            <li><%=title%></li>
          </ul>
      </div>


              <form class="form-horizontal form-label-left" novalidate method="post" action="<%= apiurl %>notification/add">
                   <!--Arrtibute info start-->
                   <div class="content_body panel_body">

                      <div class="panel_title">
                          <h3>Notification</h3>
                      </div>
                
                      <div class="clearfix"></div>
                
                        <div class="row edit_box">
						<div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="content" class="form-control" name="content" type="text" required="required"  value="<%= arrData ? arrData.content : '' %>">
                              <span>Content<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
					
						<div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="device_id" class="form-control" name="device_id" type="text" required="required" value="<%= arrData ? arrData.device_id : '' %>">
                              <span>Device ID<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						
                        <div class="col-sm-6">
                                <div class="animate_form">
                                    <select name="status" class="form-control">
                                      <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                                      <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                                      <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option>
                                    </select>
                                    <span>Status</span>
                                </div>
                            </div>

						
						

                      </div> 
                    </div>
                  
<% console.log("dadadadaaaaaaaaaaaaaaaaaaaadadaaddaaaaaaaaaaaaaaaaaaaaaaaaaaaaa");console.log(arrOption);
%>

                  <!-- Attribute Option-->
                  
                  
            

        <div class="btn_right mb-4">
            <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
            <button id="send" type="submit" class="submit_btn">Submit</button>
        </div>


                </form>
              </div>
        </div>
      </div>
</div>





<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>


<script src="<%= adminbaseurl %>build/js/croppr.js"></script>
<script src="<%= adminbaseurl %>ckeditor/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>


  <script type="text/javascript">
        function PreviewprofilePicture() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("profilePicture").files[0]);
        oFReader.onload = function (oFREvent) {
        document.getElementById("profilePicturePreview").src = oFREvent.target.result;
        };
        };
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>
<script>            
    CKEDITOR.editorConfig = function (config) {
       config.language = 'es';
       config.uiColor = '#F7B42C';
       config.height = 300;
       config.toolbarCanCollapse = true;
   
   };
   CKEDITOR.replace('content_description');
   CKEDITOR.replace('meta_description');
</script>
      

<script>
  $(document).ready(function(){
  $(".clone_trigger").click(function () {
      $('.clone').first().clone().insertBefore(".placer");
    $('input.cl:last').val('');
      event.preventDefault();
    });



$(document).on('click','.edit_remove_trigger',function () {
        
         //$(".editclone:last").remove();
         $(this).parents(".editclone").remove();
    
 });
     
    $(document).on('click','.remove_trigger',function () {
     
    if ($(".clone").length != 1) {
        
         $(".clone:last").remove();
          
    }
     
      event.preventDefault();
    });
        
    $('.remove_this_trigger').click(function () {
        if ($(".clone").length != 1) {
            //alert($(this).parent().parent().attr('class'));
            if(confirm("Are you sure you want to delete this?")){
                var el = $(this).parent().parent().parent().parent(); 
                if(el.prev("input[type=hidden]").val() != ''){
                    el.prev("input[type=hidden]").remove();
                }
                el.remove();
            }
            else{
                return false;
            }
        }
        //alert(el.attr('class'));
        //alert($(this).parent().parent().parent().parent().prev("input[type=hidden]").remove());
    });
});
</script>