<%- include ../partials/sidebar %>       
<%- include ../partials/header %>
<!-- page content -->

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3><%=title%></h3>
             <% if(messages!='') {%>
            <div class="succ_msg msg">
            
           <%=messages%>
            </div>
             <%}%>
             
              <% if(errors!='') {%>
            <div class="succ_err msg">
           <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
           <%=errors%>
            </div>
             <% }%>
          </div>

        <div class="title_right text-right">
              <a href="<%= adminbaseurl%>modules" class="btn btn-success right">List of Modules</a>
          </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">

                <form class="form-horizontal form-label-left" novalidate method="POST" enctype="multipart/form-data" action="<%= adminbaseurl %>modules/add">
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="postTitle" class="form-control col-md-7 col-xs-12" value="<%= arrData ? arrData.name : '' %>"  name="name" placeholder="" required="required" type="text">
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subTitle">Sub Title <span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="subTitle" class="form-control col-md-7 col-xs-12" value="<%= arrData ? arrData.subTitle : '' %>"  name="subTitle" placeholder=""  type="text">
                    </div>
                  </div>

                  <% if(!arrData) { %>
                   <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="slag">Slug<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="postSlug" name="slag" readonly required="required" value="<%= arrData ? arrData.slag : '' %>" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div> 
                  <% } %>

                  <div class="item form-group field">
                    <label for="usefor" class="control-label col-md-3">Use for</label> 
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select name="usefor" class="form-control col-md-7 col-xs-12">
                        <option <% if(arrData.usefor=='none'){ %>selected="selected" <% }%> value="none">None</option>
                        <option <% if(arrData.usefor=='header'){ %>selected="selected" <% }%> 

                          <% if(headerCount >= 6 && arrData.usefor!='header'){ %>disabled <% }%>
                          
                          value="header" >Header</option>
                        <option <% if(arrData.usefor=='footer'){ %>selected="selected" <% }%> value="footer">Footer</option>
                        <option <% if(arrData.usefor=='nineicons'){ %>selected="selected" <% }%> <% if(nineiconsCount >= 9 && arrData.usefor!='nineicons'){ %>disabled <% }%> value="nineicons">Nine Icons</option>
                      </select>
                    </div>
                  </div>

                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="relatedTableName">Related Table Name <span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="relatedTableName" class="form-control col-md-7 col-xs-12" value="<%= arrData ? arrData.relatedTableName : '' %>"  name="relatedTableName" placeholder=""  type="text">
                    </div>
                  </div>

                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="menuIcon">Menu Icon<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" id="menuIcon" name="menuIcon"  value="<%= arrData ? arrData.menuIcon : '' %>"  class="file" onchange="PreviewmenuIcon();">
                      <img id="menuIconPreview" <% if(arrData){ if(arrData.menuIcon==null) {%> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% }else{ %> src="<%= arrData.menuIcon %>"<% }  }else{ %> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% } %> style="width: 222px; height: 100px;" />
                      <input name="update_menuIcon" value="<%= arrData ? arrData.menuIcon : '' %>" type="hidden">
                      <p>Size Requirement: 45 x 50 px ( W x H )</p>
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="menuHoverIcon">Menu Hover Icon<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" id="menuHoverIcon" name="menuHoverIcon"  value="<%= arrData ? arrData.menuHoverIcon : '' %>"  class="file" onchange="PreviewmenuHoverIcon();">
                      <img id="menuHoverIconPreview" <% if(arrData){ if(arrData.menuHoverIcon==null) {%> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% }else{ %> src="<%= arrData.menuHoverIcon %>"<% }  }else{ %> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% } %> style="width: 222px; height: 100px;" />
                      <input name="update_menuHoverIcon" value="<%= arrData ? arrData.menuHoverIcon : '' %>" type="hidden">
                      <p>Size Requirement: 45 x 50 px ( W x H )</p>
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="homeIcon">Home Icon<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" id="homeIcon" name="homeIcon"  value="<%= arrData ? arrData.homeIcon : '' %>"  class="file" onchange="PreviewhomeIcon();">
                      <img id="homeIconPreview" <% if(arrData){ if(arrData.homeIcon==null) {%> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% }else{ %> src="<%= arrData.homeIcon %>"<% }  }else{ %> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% } %> style="width: 222px; height: 100px;" />
                      <input name="update_homeIcon" value="<%= arrData ? arrData.homeIcon : '' %>" type="hidden">
                      <p>Size Requirement: 113 x 139 px ( W x H )</p>
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bannerImage">Banner Image<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" id="bannerImage" name="bannerImage"  value="<%= arrData ? arrData.bannerImage : '' %>"  class="file" onchange="PreviewbannerImage();">
                      <img id="bannerImagePreview" <% if(arrData){ if(arrData.bannerImage==null) {%> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% }else{ %> src="<%= arrData.bannerImage %>"<% }  }else{ %> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% } %> style="width: 222px; height: 100px;" />
                      <input name="update_bannerImage" value="<%= arrData ? arrData.bannerImage : '' %>" type="hidden">
                      <p>Size Requirement: 2000 x 741 px ( W x H )</p>
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bannerIcon">Banner Icon<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" id="bannerIcon" name="bannerIcon"  value="<%= arrData ? arrData.bannerIcon : '' %>"  class="file" onchange="PreviewbannerIcon();">
                      <img id="bannerIconPreview" <% if(arrData){ if(arrData.bannerIcon==null) {%> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% }else{ %> src="<%= arrData.bannerIcon %>"<% }  }else{ %> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% } %> style="width: 222px; height: 100px;" />
                      <input name="update_bannerIcon" value="<%= arrData ? arrData.bannerIcon : '' %>" type="hidden">
                      <p>Size Requirement: 239 x 279 px ( W x H )</p>
                    </div>
                  </div>
                  
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shortDesc">Short Description<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea rows="4" type="text" id="shortDesc" name="shortDesc"  class="form-control col-md-7 col-xs-12"><%= arrData ? arrData.shortDesc : '' %></textarea>

                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="desc">Description<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea rows="4" type="text" id="desc" name="desc"  class="form-control col-md-7 col-xs-12"><%= arrData ? arrData.desc : '' %></textarea>

                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="footerImage1">Footer Image 1<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" id="footerImage1" name="footerImage1"  value="<%= arrData ? arrData.footerImage1 : '' %>"  class="file" onchange="PreviewfooterImage1();">
                      <img id="footerImage1Preview" <% if(arrData){ if(arrData.footerImage1==null) {%> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% }else{ %> src="<%= arrData.footerImage1 %>"<% }  }else{ %> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% } %> style="width: 222px; height: 100px;" />
                      <input name="update_footerImage1" value="<%= arrData ? arrData.footerImage1 : '' %>" type="hidden">
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="footerImage2">Footer Image 2<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" id="footerImage2" name="footerImage2"  value="<%= arrData ? arrData.footerImage2 : '' %>"  class="file" onchange="PreviewfooterImage2();">
                      <img id="footerImage2Preview" <% if(arrData){ if(arrData.footerImage2==null) {%> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% }else{ %> src="<%= arrData.footerImage2 %>"<% }  }else{ %> src="<%= baseurl %>superpos/myimages/no_image_selected.png"<% } %> style="width: 222px; height: 100px;" />
                      <input name="update_footerImage2" value="<%= arrData ? arrData.footerImage2 : '' %>" type="hidden">
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="footerContent1">Footer Content 1<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea rows="4" type="text" id="footerContent1" name="footerContent1"  class="form-control col-md-7 col-xs-12"><%= arrData ? arrData.footerContent1 : '' %></textarea>

                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="footerContent2">Footer Content 2<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea rows="4" type="text" id="footerContent2" name="footerContent2"  class="form-control col-md-7 col-xs-12"><%= arrData ? arrData.footerContent2 : '' %></textarea>

                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="metaTitle">Meta Title<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="metaTitle" name="metaTitle" value="<%= arrData ? arrData.metaTitle : '' %>" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                   <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="metaDesc">Meta Description<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea rows="4" type="text" id="metaDesc" name="metaDesc"  class="form-control col-md-7 col-xs-12"><%= arrData ? arrData.metaDesc : '' %></textarea>

                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="metaKeyword">Meta Keyword<span class=""></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="metaKeyword" name="metaKeyword" value="<%= arrData ? arrData.metaKeyword : '' %>" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sequence">Sequence<span class="">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" id="sequence" name="sequence" required="required" value="<%= arrData ? arrData.sequence : '' %>" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="item form-group field">
                    <label for="password" class="control-label col-md-3">Status</label> 
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select name="status" class="form-control col-md-7 col-xs-12">
                       
                        <option <% if(arrData.status=='active'){ %>selected="selected" <% }%>  value="active" >Active</option>
                        <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                        <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option>
                      </select>
                    </div>

                  </div>
                  <!-- <div class="ln_solid"></div> -->
                  <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                      <input name="update_id" value="<%= arrData ? arrData.id : '' %>" type="hidden">
                      <input name="user_id" value="<%= usercreatedBy ? usercreatedBy : '' %>" type="hidden">
                      <button id="send" type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer %>

<script type="text/javascript">
      function PreviewmenuIcon() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("menuIcon").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("menuIconPreview").src = oFREvent.target.result;
        };
      };

      
      function PreviewmenuHoverIcon() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("menuHoverIcon").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("menuHoverIconPreview").src = oFREvent.target.result;
        };
      };

      function PreviewhomeIcon() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("homeIcon").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("homeIconPreview").src = oFREvent.target.result;
        };
      };

      function PreviewbannerImage() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("bannerImage").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("bannerImagePreview").src = oFREvent.target.result;
        };
      };

      function PreviewbannerIcon() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("bannerIcon").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("bannerIconPreview").src = oFREvent.target.result;
        };
      };

      function PreviewfooterImage1() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("footerImage1").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("footerImage1Preview").src = oFREvent.target.result;
        };
      };

      function PreviewfooterImage2() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("footerImage2").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("footerImage2Preview").src = oFREvent.target.result;
        };
      };


</script>
      
